@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PTSans.woff) format('woff');
}

.alert-container {
    background: transparent url(../images/admin/icons/icon_alert.gif) no-repeat center center;
    height: 21px;
    width: 25px;
}

.no-ie-container {
    background: transparent url(../images/admin/icons/icon_no_ie.png) no-repeat center center;
    height: 21px;
    width: 25px;
}

.href-icon {
    text-decoration: none;
    display: inline-block;
    width: 16px;
    margin-right: 4px;
}
/* color of a deleted row in grid */
.grid-row-deleted {
    background-color: #FF5151;
}
/* color of an added row in grid */
.grid-row-added {
    background-color: #21FF3A;
}
/* color of a modified row in grid */
.grid-row-modified {
    background-color: #FFB364;
}

.grid-row-added td,.grid-row-deleted td,.grid-row-modified td {
    background-color: transparent;
}
/* app items*/
div.app-item {
    cursor: pointer;
    position: relative;
    float: left;
    height: 140px;
    width: 140px;
    margin: 15px;
    border: solid 1px #d8dbe0;
    background-color: white;
    overflow: visible;
}

div.app-item div.app-icon {
    display: block;
    position: relative;
    margin: 20px auto 0px auto;
    width: 80px;
    height: 80px;
}

div.app-item div.app-config-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

div.app-item div.app-icon-install {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 15px;
    height: 15px;
}

div.app-item p.app-progress-text {
    margin: 0 2px;
    font-size: 11px;
    line-height: 14px;
}

div.app-item div.app-name {
    display: table;
    height: 38px;
    width: 100%;
    padding: 0 3px;
    text-align: center;
    color: #4E4C4C;
    font-weight: bold;
    font-size: 12px;
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
}

div.app-item div.app-name span {
    display: table-cell;
    vertical-align: middle;
}

div.app-item div.app-progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 38px;
}
.node-image img {
    width: 100%;
    height: 100%;
}
/* breadcrumb text */
.breadcrumb-text,.breadcrumb-link {
    font-size: 11px; /* On a base font of 13px works out to 11.05px*/
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    line-height: 14px; /* works out to 14px */
    font-family: Arial, Helvetica, sans-serif;
}
/* breadcrumb link */
.breadcrumb-link {
    color: #20377A;
}

/* Wizard CSS */
body.wizard {
    font-family: Arial, Helvetica, sans-serif;
}

body.wizard .ext-el-mask {
    background-color: #CCCCCC;
}

body.wizard .x-form-item label {
    text-align: right;
}

.small-top-margin {
    margin-top: 1em;
}

body.wizard #container {
    margin: 10px auto;
    position: relative;
}

/* Z-Index required on some browsers. */
.logo-container {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    width: 166px;
    height: 100px;
    overflow: hidden;
}

.wizard-steps {
    padding-top: 120px;
    background-color: #e8e8e8;
}

.wizard-steps .step {
    font-size: 12px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 0px;
}

.wizard-steps .nostep {
    padding: 0px 0px 0px 33px;
}

.wizard-steps .completed {
    color: #000000;
}

.wizard-steps .incomplete {
    color: #444;
}

.wizard-steps .current {
    color: #333;
    font-weight: bold;
    background-color: #ffffff;
}

.wizard-steps .count {
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-steps .incomplete .count {
    background: url(../images/admin/wizard/step-incomplete.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .current .count {
    background: url(../images/admin/wizard/step-current.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .completed .count {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
}

.step_counter {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-title {
    margin-bottom: 0.8em;
    padding-top: 5px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.wizard-network-img {
    border: 1px #ccc solid;
}
/* warning message text*/
.warning {
    color: #FF0000;
}

.large-option {
    font-size: 14px;
    font-weight: bold;
}
/* panel content container*/
.ung-panel {
    padding: 5px;
}
/* Ext Js Overrides - across the board */
.x-fieldset {
    padding: 5px 10px 10px 20px;
}

.x-fieldset legend {
    margin-left: -15px;
    color: #111;
}

div.x-column-header-inner {
    text-align: center;
}

.x-fieldset-header-default>.x-fieldset-header-text {
    font-weight: bold;
}

textarea.ua-test-output {
    font-family: Courier, monospace;
    padding: 5px 5px 0px 5px;
}

.boxlabel {
    margin: 3px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.diff-grid .x-grid-cell {
    font-family: Courier, monospace;
}

a.link,a.link:visited {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.main-panel {
    background: #EEF1F5;
}

.menu-button.x-btn {
    border-radius: 0;
    background-color: #1b1e26;
    border-color: #1b1e26;
    background-image: none;
}

.menu-button .x-btn-wrap {
    height: 40px;
}

.menu-button .x-btn-inner {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #B2B6C0;
}

.menu-button.x-btn.x-btn-pressed,.menu-button.x-btn.x-btn-over {
    border-color: #67bd4a;
    background-color: #67bd4a;
    background-image: none;
}

.menu-button.x-btn-pressed .x-btn-inner,.menu-button.x-btn-over .x-btn-inner {
    color: #ffffff;
}

.action-button.x-btn {
    border-radius: 16px;
    background-color: #67bd4a;
    border-color: #67bd4a;
    background-image: none;
}

.action-button .x-btn-wrap {
    height: 30px;
}

.action-button .x-btn-inner {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}

.action-button.x-btn-over .x-btn-inner {
    color: #1b1e26;
}

a.menu-link,a.menu-link:visited {
    color: #1b1e26;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

a.menu-link.logout,a.menu-link.logout:visited {
    color: #d80909;
}

a.menu-link:hover,a.menu-link.logout:hover {
    color: #67bd4a;
}

a.forgot-password,a.forgot-password:visited {
    color: #d80909;
    text-decoration: none;
    font-size: 14px;
}

a.forgot-password:hover {
    text-decoration: underline;
}

.links-menu {
    margin-right: 10px;
    top: 35px;
    float: right;
}
/* Left side container */
.main-menu {
    background-color: #1b1e26;
}

.top-container {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.config-separator {
    background-color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #D8DBE0;
}

.top-title {
    font-size: 18px;
    color: #AAACAE;
}

.policy-selector .x-btn-text {
    text-align: left;
    justify-content: initial;
}

.policy-selector .x-btn-inner {
    font-size: 14px;
    color: #1b1e26;
}

/* Dashboard section */
.dashboard {
    font-family: 'Source Sans Pro', sans-serif !important;
    padding: 10px;
}

.dashboard .x-autocontainer-innerCt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dashboard .widget .x-autocontainer-innerCt {
    display: inherit;
}

.dashboard .x-autocontainer-form-item,.dashboard .x-form-display-field-default {
    font-family: 'Source Sans Pro', sans-serif !important;
    min-height: 18px;
    margin-bottom: 0;
}

.dashboard .x-form-item-label-default {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
}

.widget .x-panel-body-default {
    border: 0;
    top: 0 !important;
    background: transparent;
    padding: 5px 10px;
}

.widget {
    background-color: #FFF;
    border: solid 1px #d8dbe0;
    margin: 10px;
    padding: 0 !important;
}

.big-widget {
    flex: 100%;
}

.small-widget {
    flex: 45%;
}

.widget .x-panel-header {
    border: 0;
    background: transparent;
    box-shadow: none;
    position: relative !important;
}

.nopadding .x-panel-body-default {
    padding: 0;
}

.widget .x-panel-header-title-default {
    width: 100% !important;
}

.widget .x-tool {
    top: 7px !important;
}

.widget .x-panel-header-title-default>.x-title-text-default {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3DA8EB;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px #EEF1F5 solid;
    margin: 5px;
    display: block;
    padding: 5px 0 10px 0;
}


/* widget grid customization - temporary */
.widget .x-grid-header-ct {
    position: relative !important;
    border: 0;
    background-image: none;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget .x-grid-header-ct .x-box-inner {
    border-bottom: 1px #EEE solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.widget .x-column-header {
    background-image: none;
    border: 0;
    background-color: transparent;
}

.widget .x-column-header-inner {
    padding: 14px 10px 14px 6px;
}

.widget .x-column-header-over {
    background-image: none;
    background-color: #EEE;
}


.widget .x-grid-cell-inner {
    padding: 10px 6px;
}
.widget .x-grid-with-row-lines .x-grid-item {
    border-width: 0;
}



.widget .x-grid-view::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.widget .x-grid-view::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.widget .x-grid-view::-webkit-scrollbar-thumb {
    background: #777;
    border: 0px none #ffffff;
    border-radius: 0px;
}
.widget .x-grid-view::-webkit-scrollbar-thumb:hover {
    background: #67bd4a;
}
.widget .x-grid-view::-webkit-scrollbar-thumb:active {
    background: #67bd4a;
}
.widget .x-grid-view::-webkit-scrollbar-track {
    background: #CCC;
    border: 0 none transparent;
    border-radius: 0;
}
.widget .x-grid-view::-webkit-scrollbar-track:hover {
    background: #CCC;
}
.widget .x-grid-view::-webkit-scrollbar-track:active {
    background: #CCC;
}
.widget .x-grid-view::-webkit-scrollbar-corner {
    background: transparent;
}



.big-widget .x-tool {
    right: 0;
    left: auto;
}

.dashboard .ellipsis .x-form-display-field-default {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* new styles */

.grid-cell.small-1,.grid-cell.small-2 {
    float: left;
    width: 16.66%;
}

.grid-cell.small-2 .x-autocontainer-innerCt {
    flex-direction: column;
}

.grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
    float: left;
    width: 33.33%;
}

@media ( min-width : 320px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 100%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 100%;
    }
}

@media ( min-width : 780px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 100%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 100%;
    }
}

@media ( min-width : 1200px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 50%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 50%;
    }
}

@media ( min-width : 1500px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 33.33%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 33.33%;
    }
}


.wg-wrapper {
    font-family: 'Source Sans Pro', sans-serif !important;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.wg-wrapper .row {
    display: table-row;
}

.wg-wrapper label {
    display: table-cell;
    width: 40%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    vertical-align: top;
}

.wg-wrapper .cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 5px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wg-progress {
    /*margin-right: 80px;*/
    margin-bottom: 5px;
    position: relative;
}

.wg-progress-bar {
    background-color: #EEF1F5;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.wg-progress-bar span {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #E1B505;
    height: 20px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.5);
}
.wg-progress p {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 0;
    font-weight: 600;
    line-height: 20px;
    font-size: 11px;
    color: #555;
}
.wg-progress-vals {
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wg-button {
    background-color: #3DA8EB;
    height: 24px;
    line-height: 24px;
    color: #FFF;
    margin: 0 1px;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    font-size: 11px;
    cursor: pointer;
}
