/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v8-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/pt-sans-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pt-sans-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-sans-v8-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pt-sans-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pt-sans-v8-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/images/fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/images/fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/images/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
    url(/images/fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.x-grid-td {
    vertical-align: middle;
}

.material-button i {
    vertical-align: middle;
    font-size: 20px;
}
.material-button span {
    vertical-align: middle;
}


.logo {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left center;
}


.no-ie-container {
    background: transparent url(../images/admin/icons/icon_no_ie.png) no-repeat center center;
    height: 21px;
    width: 25px;
}

.href-icon {
    text-decoration: none;
    display: inline-block;
    width: 16px;
    margin-right: 4px;
}
/* color of a deleted row in grid */
.grid-row-deleted {
    background-color: #FF5151;
}
/* color of an added row in grid */
.grid-row-added {
    background-color: #21FF3A;
}
/* color of a modified row in grid */
.grid-row-modified {
    background-color: #FFB364;
}

.grid-row-added td,.grid-row-deleted td,.grid-row-modified td {
    background-color: transparent;
}
/* app items*/
div.app-item {
    cursor: pointer;
    position: relative;
    float: left;
    height: 140px;
    width: 140px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background: #FFF;
    overflow: hidden;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
}
div.app-item:hover, div.app-item.progress {
    background: #EEE;
}

div.app-item .x-mask {
    background: transparent;
}

div.app-item div.app-icon {
    display: block;
    position: relative;
    margin: 20px auto 0 auto;
    text-align: center;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 10;
}
div.app-item:hover .app-icon, div.app-item.progress .app-icon {
    transform-origin: top;
    transform: scale(0.85);
}
div.app-item div.app-icon.app-config-icon {
    transform: none;
    width: 80px;
    height: 80px;
}


div.app-item .app-install, div.app-item .app-done {
    opacity: 0;
    color: #67bd4a;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
}
div.app-item.progress .app-install, div.app-item .app-done, div.app-item.progress.x-item-disabled .app-loader {
    display: none;
}

div.app-item .app-done {
    opacity: 1;
    bottom: 3px;
}

div.app-item.x-item-disabled .app-done {
    display: block;
}


div.app-item i {
    vertical-align: middle;
}
div.app-item:hover .app-install {
    opacity: 1;
    bottom: 3px;
}
div.app-item:hover .app-install i {
    opacity: 1;
}

div.app-item .app-loader {
    display: none;
    position: relative;
    bottom: 20px;
}

div.app-item .app-loader .loader {
    width: 40px;
}

div.app-item.progress .app-loader {
    display: block;
}



div.app-item div.app-config-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

div.app-item div.app-icon-install {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 15px;
    height: 15px;
}

div.app-item p.app-progress-text {
    margin: 0 2px;
    font-size: 11px;
    line-height: 34px;
}

div.app-item div.app-name {
    line-height: 24px;
    text-align: center;
    color: #4E4C4C;
    font-weight: bold;
    font-size: 12px;
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
}

div.app-item div.app-name span {
    display: table-cell;
    vertical-align: middle;
}

div.app-item div.app-progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 36px;
}


@media ( max-width: 550px ) {
    div.app-item {
        height: 60px;
        width: 100%;
        float: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0 0 1px 0;
    }

    div.app-item div.app-icon {
        height: 60px;
        text-align: left;
        margin: 0;
    }

    div.app-item div.app-icon img {
        height: 50px;
        width: 50px;
        position: relative;
        top: 5px;
        left: 5px;
        float: left;
    }

    div.app-item:hover .app-icon, div.app-item.progress .app-icon {
        transform: scale(1);
    }

    div.app-item div.app-name {
        line-height: 60px;
        margin-left: 20px;
        font-size: 16px;
        text-align: left;
        float: left;
    }

    div.app-item .app-install, div.app-item .app-done {
        left: auto;
        top: 20px;
        right: 10px;
    }

    div.app-item .app-loader {
        position: absolute;
        top: 10px;
        right: 2px;
    }

    div.app-item div.app-icon.app-config-icon {
        width: 50px;
        height: 50px;
        background-size: contain;
        top: 5px;
        left: 5px;
        float: left;
        margin: 1px;
    }
}




.app-image img {
    width: 100%;
    height: 100%;
}
/* breadcrumb text */
.breadcrumb-text,.breadcrumb-link {
    font-size: 11px; /* On a base font of 13px works out to 11.05px*/
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    line-height: 14px; /* works out to 14px */
    font-family: Arial, Helvetica, sans-serif;
}
/* breadcrumb link */
.breadcrumb-link {
    color: #20377A;
}

/* Wizard CSS */
body.wizard {
    font-family: Arial, Helvetica, sans-serif;
}

body.wizard .ext-el-mask {
    background-color: #CCCCCC;
}

body.wizard .x-form-item label {
    text-align: right;
}

.small-top-margin {
    margin-top: 1em;
}

body.wizard #container {
    margin: 10px auto;
    position: relative;
}

/* Z-Index required on some browsers. */
.logo-container {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    width: 166px;
    height: 100px;
    overflow: hidden;
}

.wizard-steps {
    padding-top: 120px;
    background-color: #e8e8e8;
}

.wizard-steps .step {
    font-size: 12px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 0px;
}

.wizard-steps .nostep {
    padding: 0px 0px 0px 33px;
}

.wizard-steps .completed {
    color: #000000;
}

.wizard-steps .incomplete {
    color: #444;
}

.wizard-steps .current {
    color: #333;
    font-weight: bold;
    background-color: #ffffff;
}

.wizard-steps .count {
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-steps .incomplete .count {
    background: url(../images/admin/wizard/step-incomplete.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .current .count {
    background: url(../images/admin/wizard/step-current.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .completed .count {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
}

.step_counter {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-title {
    margin: 0;
    padding: 10px 0;
    color: #333;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.wizard h3 {
    margin: 0 0 20px 0;
}

.wizard-network-img {
    border: 1px #ccc solid;
}
/* warning message text*/
.warning {
    color: #FF0000;
}

.large-option {
    font-size: 14px;
    font-weight: bold;
}
/* panel content container*/
.ung-panel {
    padding: 5px;
}
.ung-panel .x-panel-body {
    background: transparent;
}
/* Ext Js Overrides - across the board */
.x-fieldset {
    padding: 5px 10px 10px 20px;
}

.x-fieldset legend {
    margin-left: -15px;
    color: #111;
}

div.x-column-header-inner {
    text-align: center;
}

.x-fieldset-header-default>.x-fieldset-header-text {
    font-weight: bold;
}

/* We use wider icons for OK/Cancel/Apply */
.x-btn-icon-left > .x-btn-icon-el-default-toolbar-small, .x-btn-icon-right > .x-btn-icon-el-default-toolbar-small {
    width: 22px;
}

textarea.ua-test-output {
    font-family: Courier, monospace;
    padding: 5px 5px 0px 5px;
}

.boxlabel {
    padding: 5px 0;
    font-size: 11px;
    color: #999;
}

.diff-grid .x-grid-cell {
    font-family: Courier, monospace;
}

a.link,a.link:visited {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.main-menu-btn.x-btn {
    border-radius: 3px;
    margin: 0 5px;
    background-color: #1b1e26;
    border-color: #1b1e26;
    background-image: none;
}

.main-menu-btn .x-btn-wrap {
    /*height: 40px;*/
}

.main-menu-btn .x-btn-inner {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #B2B6C0;
    text-align: center;
    padding: 0 5px;
    text-transform: uppercase;
}

.main-menu-btn.x-btn-over {
    border-color: #555;
    background: #333;
}

.main-menu-btn.x-btn.x-btn-pressed {
    border-color: transparent;
    background-color: #555;
    background-image: none;
}

.x-btn-focus .x-btn-wrap {
    outline: none !important;
}

.main-menu-btn.x-btn-pressed .x-btn-inner, .main-menu-btn.x-btn-over .x-btn-inner {
    color: #FFF;
}

.main-menu-btn {
    background: none;
    border: 0;
    transition: background .25s cubic-bezier(0.23, 1, 0.32, 1);
}

.main-menu-btn .x-btn-inner span {
    vertical-align: middle;
    /*display: block;*/
}

.main-menu-btn i {
    /*color: #B2B6C0;*/
    vertical-align: middle;
    font-size: 20px;
}

.main-menu-btn.x-btn-focus, .main-menu-btn.x-btn-menu-active {
    background-color: #555 !important;
    background-image: none !important;
    color: #FFF !important;
}
.main-menu-btn.x-btn-focus  i {
    /*color: #FFF;*/
}

.user-menu, .hamburger-menu, .notification-container {
    text-align: right;
}


.notification-dd {
    background: #1b1e26;
    color: #CCC;
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    border-radius: 0 0 5px 5px;
}

.notification-dd ul {
    margin: 0 5px 0 20px;
    padding: 0;
}

.notification-dd h3 {
    margin: 10px 0;
    font-weight: normal;
}

.tooltip-dd {
    color: #CCC;
    border: 0;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.tooltip-dd .tip {
    background: #555;
    border-radius: 5px;
    padding: 5px 10px;
}

.user-menu-dd .x-menu-item.x-menu-item-separator {
    background-color: #999;
    height: 1px;
}



.user-menu-dd {
    background: #1b1e26;
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    right: 0 !important;
    left: auto !important;
    border-bottom-left-radius: 5px;
    /*transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);*/
}
.user-menu-dd i {
    vertical-align: middle;
    font-size: 20px;
}
.user-menu-dd span {
    vertical-align: middle;
}

.user-menu-dd .x-menu-body-default,
.notification-dd .x-menu-body-default,
.tooltip-dd .x-menu-body-default {
    background: none;
    padding: 0;
}

.user-menu-dd .x-menu-item-text-default {
    border: 0;
    background: none;
    color: #B2B6C0;
    border-radius: 0;
    font: 14px 'PT Sans', sans-serif;
    line-height: 36px;
    padding: 0 10px;
}
.user-menu-dd .x-menu-item-default {
    border: 0;
    background: none;
    border-radius: 0;
}

.user-menu-dd .x-menu-item-focus {
    background: #555;
}
.user-menu-dd .x-menu-item-focus .x-menu-item-text-default {
    color: #FFF;
}

.policy-menu-dd {
    background: #555;
    border: 0;
    box-shadow: none;
}



.views-menu div, .user-menu div {
    white-space: nowrap;
}

@media ( max-width: 1024px ) {
    .main-menu-btn .x-btn-inner > span {
        display: block;
    }
}
@media ( max-width: 800px ) {
    .main-menu-btn .x-btn-inner > span {
        display: none;
    }
}


.action-button.x-btn {
    border-radius: 3px;
    background-color: transparent;
    border: 0;
    background-image: none !important;
    /*height: 30px;*/
}

.action-button.x-btn:hover {
    color: #FFF;
    background-color: rgba(103,189,74,.9);
}
.action-button.x-btn:hover:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

.action-button.x-btn .x-btn-inner {
    color: #FFF;
    font-size: 13px;
    padding: 0 5px;
}

.action-button.x-btn.x-btn-disabled {
    background-color: transparent;
}


a.menu-link,a.menu-link:visited {
    color: #1b1e26;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

a.menu-link.logout,a.menu-link.logout:visited {
    color: #d80909;
}

a.menu-link:hover,a.menu-link.logout:hover {
    color: #67bd4a;
}

a.forgot-password,a.forgot-password:visited {
    color: #d80909;
    text-decoration: none;
    font-size: 14px;
}

a.forgot-password:hover {
    text-decoration: underline;
}

.links-menu {
    margin-right: 10px;
    top: 35px;
    float: right;
}
/* Left side container */
.main-menu {
    height: 66px;
    overflow: hidden;
    background-color: #1b1e26;
    z-index: 999;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.top-container {
    background-color: #555;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.config-separator {
    background-color: #CCCDCD;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

.top-title {
    font-size: 16px;
    color: #333;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.top-title * {
    vertical-align: middle;
}


/* Dashboard section */
.dashboard {
    /*font-family: 'Source Sans Pro', sans-serif !important;*/
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

.dashboard .x-autocontainer-innerCt:first-child {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}

.dashboard.last-not-extended .x-autocontainer-innerCt::after {
    content: '';
    flex-grow: 1000000000;
}

.dashboard .x-autocontainer-form-item,.dashboard .x-form-display-field-default {
    font-family: 'Source Sans Pro', sans-serif !important;
    min-height: 18px;
    margin-bottom: 0;
}

.dashboard .x-form-item-label-default {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
}

.dashboard-manager .x-box-inner, .dashboard-manager .x-panel-body {
    background-color: #333;
}

.dashboard-manager .x-autocontainer-innerCt {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.dashboard-manager hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
    margin-top: 0;
}


.dashboard-grid * {
    color: #FFF;
    background: none;
    border: 0;
}

.dashboard-grid .x-toolbar-default {
}

.dashboard-grid .x-grid-with-row-lines .x-grid-item {
    border-bottom: 1px #333 solid;
    border-top: 1px #777 solid;
    height: 38px;
}

.dashboard-grid .x-grid-cell-inner-checkcolumn, .dashboard-grid .x-grid-cell-inner-action-col {
    padding: 0 !important;
    cursor: pointer;
    text-align: center !important;
}

.dashboard-grid .x-action-col-icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
}

.dashboard-grid i {
    font-size: 20px;
    color: #999;
    transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-grid .x-btn-inner {
    font-size: 13px;
}

.dashboard-grid .x-btn {
    transition: background 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.dashboard-grid .x-btn-over, .dashboard-grid .x-btn-pressed {
    background-color: #222 !important;
    background-image: none !important;
}

.dashboard-grid .x-btn-focus {
    background: none;
}
/*
.dashboard-grid .x-grid-item-over i.action-delete {
    color: #E25D5D;
}

.dashboard-grid .x-grid-item-over i.action-edit {
    color: blue;
}
*/



.dashboard-grid .x-grid-cell-inner {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*padding: 8px 6px;*/
    padding: 2px 6px;
    /*cursor: default;*/
}

.dashboard-grid .x-grid-cell-inner img {
    width: 32px;
    height: 32px;
    padding: 1px;
}

.dashboard-grid .x-panel-body {
    background: #555;
}

.dashboard-grid table {
    background: transparent;
}

.dashboard-grid .grid-row-modified, .dashboard-grid .grid-row-deleted, .dashboard-grid .grid-row-added {
    background-color: #555;
}

.dashboard-grid .grid-row-modified .x-grid-cell-inner {
    color: #75BEFF;
}

.dashboard-grid .grid-row-deleted .x-grid-cell-inner {
    text-decoration: line-through;
    color: #FF5151;
}
.dashboard-grid .grid-row-added .x-grid-cell-inner {
    color: #57D657;
}

.dashboard-grid .x-grid-dirty-cell {
    background: none;
}

.dashboard-grid .x-grid-item-over {
    background: #505050;
}


.report-selector .x-boundlist-item {
    line-height: 1.4;
    padding: 1px 3px;
}
.report-selector span {
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
}

.report-container > .x-panel-header {
    padding: 7px;
    background: #555;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
}

.report-container > .x-panel-header .x-title-text {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #FFF;
    line-height: 1.2;
}

.report-container .x-title-text .ttl {
    font-size: 18px;
    font-weight: normal;
}
.report-container .x-title-text .dsc {
    color: #CCC;
    font-size: 12px;
}



.x-grid-item-focused .x-grid-cell-inner:before {
    border: 0;
}


.entry-selector-header {
    background: #555;
    padding: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
}

.entry-selector-header img {
    vertical-align: middle;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.entry-selector-header span {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 18px;
    color: #FFF;
}


.entry-btn {
    background: none;
    margin: 5px;
    /*box-shadow: 0 0 1px rgba(0,0,0,0.7);*/
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);

}
.entry-btn .x-btn-button {
    white-space: normal;
}

.entry-btn.x-btn-over, .entry-btn.x-btn-focus {
    background: #EEE;
    background-image: none !important;
}

.entry-btn .x-btn-inner {
    padding: 10px 5px 10px 30px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    /*color: #555;*/
    transition: color 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.entry-btn.x-btn-over .x-btn-inner {
    color: #000;
}

.entry-btn .x-btn-inner i {
    position: absolute;
    left: 2px;
    top: 9px;
    color: #333;
}

.entry-btn .x-btn-inner i.in-dashboard {
    position: static;
    color: #67BD4A;
    font-size: 18px;
    vertical-align: middle;
}

.entry-btn .x-btn-inner i.not-read-only {
    position: static;
    color: #67BD4A;
    font-size: 16px;
    vertical-align: middle;
}
.entry-btn .x-btn-inner .icon-label {
    vertical-align: middle;
    padding-right: 10px;
    color: #999;
}

/*
.entry-btn.custom i {
    color: chocolate;
}
*/
.entry-btn .ttl {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.entry-btn .dsc {
    font-size: 12px;
    color: #555;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 3px;
}

.category-list .x-grid-item, .entry-list .x-grid-item {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.category-list .x-grid-item-selected, .entry-list .x-grid-item-selected {
    font-weight: bold;
    color: #000;
}

.entry-list i {
    color: #777;
}

.entry-list .x-grid-item-selected i {
    color: #000;
}

/*
.entry-list tr.custom i, .entry-list tr.custom .x-grid-item-focused i {
    color: chocolate;
}
*/

.categories-menu-btn .x-btn-icon-el, .categories-menu .x-menu-item-icon {
    background-size: contain;
}
/*
.category-selector > div > div {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
*/

.category-selector {
    /*text-align: center;*/
}

.report-category {
    background-color: #FFF;
    border-radius: 3px;
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1);
    min-width: 220px;
    flex: 1;
}
/*
.report-category:hover {
    background-color: #FCFCFC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
*/

.report-category h3 {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 5px 0 10px 0;
    padding: 0 0 0 5px;
    font-size: 18px;
    /*font-weight: normal;*/
    /*border-bottom: 1px #EEE solid;*/
}

.report-category img {
    width: 48px;
    height: 48px;
    vertical-align: bottom;
}


.report-category i {
    margin-right: 5px;
    color: #777;
    transition: color .25s cubic-bezier(0.23, 1, 0.32, 1);
}

.report-category a {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: color .25s cubic-bezier(0.23, 1, 0.32, 1);
    display: table;
    margin-left: 28px;
}
.report-category a span {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.report-category a:hover span {
    color: #000;
    font-weight: bold;
}
.report-category a:hover i {
    color: #000;
}

.report-category a.view-all {
    margin: 10px 0 0 58px;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    display: inline-block;
}



.category-item img {
    width: 22px;
    height: 22px;
    border-radius: 3px;
}





.widget {
    /*border: solid 1px #d8dbe0;*/
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    padding: 0 !important;

    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 3px;
    box-sizing: border-box;

    /*opacity: 1;*/

    /*transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);*/


    background: rgb(249,249,249);
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(255,255,255,1) 50%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(255,255,255,1) 50%,rgba(249,249,249,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(255,255,255,1) 50%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 );


}

.widget.init {
    /*background: rgba(0,0,0,0.2);*/
}

.widget.init .x-panel-header {
    opacity: 0;
}

.widget.init .wg-wrapper {
    opacity: 0;
}


.widget .chart .text-report {
    text-align: center;
    font-size: 16px;
    text-shadow: 0 1px 1px #CCC;
    padding: 20px;
}

.widget.init .init-mask {
    display: block;
}

.widget.nodata .chart {
    opacity: 0;
}
.widget.nodata .nodata-mask {
    display: block;
}


.widget .mask {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 0;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    display: none;
}

.widget .mask i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    margin-left: -24px;
    margin-top: -44px;
    color: #BBB;
}
.widget .mask p {
    position: absolute;
    top: 50%;
    color: #BBB;
    font-size: 12px;
    text-align: center;
    left: 0;
    right: 0;
}

.widget.enlarged {
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    z-index: 999;
    height: auto !important;
}

.widget.enlarged .x-panel-body {
    width: 100% !important;
}

.dimm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 800;
}



.widget .x-autocontainer-innerCt {
    display: inherit !important;
}

.widget .x-autocontainer-outerCt {
    display: block;
}

.widget .x-panel-header {
    border: 0;
    background: transparent;
    box-shadow: none;
    position: relative !important;
    padding: 6px;
    opacity: 1;
    /*transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);*/
}

.widget .x-panel-body-default {
    top: 0 !important;
    padding: 0;
    border: 0;
    margin: 0;
    background: none;
    /*height: 100% !important;*/
}


.widget .x-panel-header-title-default {
    width: 100% !important;
    line-height: 1;
}


.widget .x-tool {
    top: 3px !important;
}

.widget .x-tool-refresh {
    background-image: url(../images/admin/icons/icon_widget_refresh.png);
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.widget .x-tool-plus {
    background-image: url(../images/admin/icons/icon_widget_open.png);
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.widget .x-title-text {
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    padding-right: 60px;
}
.widget .x-title-text i {
    position: absolute;
    margin: 2px;
    color: coral;
}

.widget .x-title-text h3 {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 50px 5px 0;
    margin: 0;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.widget .x-title-text p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 11px;
    color: #999;
    padding: 2px 0;
}


/* widget grid customization - temporary */
.widget .x-grid-header-ct {
    position: relative !important;
    border: 0;
    background-image: none;
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.widget .x-grid-header-ct .x-box-inner {
    border-bottom: 1px #EEE solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.widget .x-column-header {
    background-image: none;
    border: 0;
    background-color: transparent;
}

.widget .x-column-header-inner {
    padding: 10px 10px 10px 6px;
}

.widget .x-column-header-over {
    background-image: none;
    background-color: #EEE;
}

.big-widget .x-tool {
    right: 0;
    left: auto;
}

.dashboard .ellipsis .x-form-display-field-default {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget.small {
    height: 320px;
    flex: 1;
    flex-basis: 250px;
}

.widget.medium {
    height: 320px;
    flex-basis: 350px;
    flex-grow: 1;
}

.widget.large {
    height: 320px;
    flex-basis: 500px;
    flex-grow: 2;
}


/* new styles */

/*
.grid-cell.small-1,.grid-cell.small-2 {
    float: left;
    width: 16.66%;
}

.grid-cell.small-2 .small-widget {
    flex: auto;
}

.grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
    float: left;
    width: 33.33%;
}

@media ( min-width : 200px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 100%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 100%;
    }
}

@media ( min-width : 1300px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 50%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 50%;
    }
}

@media ( min-width : 1700px) {
    .grid-cell.small-1,.grid-cell.small-2 {
        width: 33.33%;
    }
    .grid-cell.small-3,.grid-cell.small-4,.grid-cell.big {
        width: 33.33%;
    }
}
*/

.wg-wrapper {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    /*display: table;*/
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 8px 8px 8px;
    /*opacity: 1;*/
    transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.wg-wrapper.no-padding {
    padding: 0;
}

.wg-wrapper .chart-types {
    padding: 0 10px;
}

.wg-wrapper .chart-types button {
    font-family: 'PT Sans', sans-serif;
    background-color: #EEE;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    padding: 2px 8px;
    box-sizing: border-box;
    border: 0;
    color: #777;
}
.wg-wrapper .chart-types button:hover {
    color: #000;
}
.wg-wrapper .chart-types button.selected {
    background: #CCC;
    color: #000;
}

.wg-wrapper .row {
    display: table-row;
}

.wg-wrapper label {
    display: table-cell;
    width: 40%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
    color: #555;
}

.wg-wrapper .cell {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 5px;
    line-height: 20px;
    font-weight: 600;
}

.wg-progress {
    /*margin-right: 80px;*/
    margin-bottom: 5px;
    position: relative;
}

.wg-progress-bar {
    background-color: #EEF1F5;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.wg-progress-bar span {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #E1B505;
    height: 20px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.5);
}
.wg-progress p {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 0;
    font-weight: 600;
    line-height: 20px;
    font-size: 11px;
    color: #555;
}
.wg-progress-vals {
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wg-button {
    background-color: #3DA8EB;
    height: 28px;
    line-height: 1;
    color: #FFF;
    margin: 0 5px;
    border: 0;
    border-radius: 3px;

    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    font-size: 11px;
    cursor: pointer;
    transition: all ease-in-out .15s;
}

.wg-button:hover {
    background-color: rgba(61,186,235,.85);
}
.wg-button:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}


/* Information Widget Styling*/
.wg-wrapper.information .info-hostname {
    font-weight: 600; text-align: center; margin: 0; font-size: 16px;
}
.wg-wrapper.information .info-hostname span {
    font-size: 12px; color: #555;
}
.wg-wrapper.information .info-uptime {
    text-align: center; margin: 10px 0; line-height: 30px; background-color: rgb(112, 173, 112); position: absolute; left: 0; right: 0; color: #FFF; box-shadow: 0 1px 3px rgba(0,0,0,0.2); z-index: 2;
}
.wg-wrapper.information .info-hardware {
    position: absolute; top: 80px; left: 0; right: 0; bottom: 0; padding: 10px;
}


/* CPU Load */
.wg-wrapper.cpuload .cpuLoadVal {
    position: absolute; width: 100px; bottom: 50px; text-align: center; font-size: 20px; line-height: 0.7; border-radius: 20px; left: 50%; margin-left: -50px;
}
.wg-wrapper.cpuload .cpuLoadVal span {
    font-size: 10px;
    text-transform: uppercase;
}
.wg-wrapper.cpuload .cpuLoadVal.medium {
    color: #E1B505;
}
.wg-wrapper.cpuload .cpuLoadVal.high {
    color: red;
}



/* Network Information Widget Styling*/
.wg-wrapper.flex {
    display: flex; flex-direction: column; align-items: center;
}
.wg-wrapper.flex .info-box {
    flex: 1; padding: 20px 0; position: relative; width: 100%;
}
.wg-wrapper.flex .info-item {
    display: inline-block; width: 33%; text-align: center; padding: 0 10px; color: #777; font-size: 12px;
}
.wg-wrapper.flex .info-item span {
    font-size: 24px; color: #333;
}
.wg-wrapper .info-actions {
    text-align: center; display: flex; flex-direction: row; position: absolute; bottom: 15px; left: 10px; right: 10px;
}

.wg-wrapper.resources .info-box p {
    font-size: 14px; display: inline-block; font-weight: 300; color: #777;
}
.wg-wrapper.resources .info-box .donut {
    width: 80px; height: 80px; position: relative; float: right;
}
.wg-wrapper.resources .info-box .donut span {
    position: absolute; display: block; line-height: 80px; text-align: center; top: 0; left: 0; bottom: 0; right: 0; font-size: 24px; font-weight: 300; color: coral;
}

.wg-wrapper.resources .info-box .chart {
    width: 80px; height: 80px;
}

/*
.wg-wrapper .donut {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background: #e1e1e1;
}
.wg-wrapper .donut .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0 80px 40px 0);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #50c690;
}

.wg-wrapper .donut .center {
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    background: #fff;
}
*/
/* custom widget loading */
.widget-loader {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
}

.widget-loader .x-mask-msg-text {
    background: none;
    padding: 0;
}

.widget-loader .x-mask-msg, .widget-loader .x-mask-msg-inner {
    padding: 0;
    border: none;
    background: transparent;
}

.loader {
    position: relative;
    margin: 0px auto;
    width: 50px;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@-webkit-keyframes color {
    100%, 0% {
        stroke: #67bd4a;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #67bd4a;
    }
}

.widget.loading {
    box-shadow: 0 0 10px rgba(103,189,74,0.7);
    /*box-shadow: 0 1px 3px rgba(103,189,74,0.8);*/
}

.widget.loading .widget-tool.refresh i {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotate;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.widget-tool {
    padding: 1px;
    border-radius: 50%;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.widget-tool:hover {
    background: #67BC4A;
}

.widget-tool i {
    color: #999;
    font-size: 20px;
    transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
}
.widget-tool:hover i {
    color: #FFF;
}

/* end custom widget loading */

.x-form-item-label-default {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.widget .x-legend {
    padding: 0 !important;
}

.widget .x-legend-container {
    border: 0;
    margin-bottom: 5px;
}

.widget .x-legend-item {
    padding: 3px 7px 3px 20px;
    border: none !important;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}
.widget .x-legend-item-marker {
    top: 5px;
    left: 5px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}
.widget .x-legend-item.x-view-item-focused {
    outline: none !important;
    border: none !important;
}



/* network interfaces */

.network-intf {
    text-align: center;
    margin-top: 5px;
}

.network-intf p {
    margin: 3px 0;
}
.network-intf {
    font-size: 0;
}
.network-intf .internal {
    position: relative;
    height: 150px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 20px 20px 20px;
}

.network-intf .wrap {
    position: relative;
}
.network-intf .wrap::before {
    content: '';
    width: 50px;
    height: 150px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+15,e5e5e5+100&1+1,1+15,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 15%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 15%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 15%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00e5e5e5',GradientType=1 ); /* IE6-9 */
}

.network-intf .wrap::after {
    content: '';
    width: 50px;
    height: 150px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+85,ffffff+100&0+0,1+85,1+99 */
    background: -moz-linear-gradient(left,  rgba(229,229,229,0) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.network-intf .wire {
    width: 100%;
    height: 18px;
    background-color: #E1B505;
    border-radius: 9px;
}
.network-intf .iface {
    display: inline-block;
    width: 110px;
}
.network-intf .iface p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-size: 14px;
}
.network-intf .iface p.name {
    font-weight: 600;
}
.network-intf .iface .up {
    padding-left: 15px;
    display: block;
    background: url(../images/admin/icons/interface-speed.png) no-repeat 0 5px;
}
.network-intf .iface .down {
    padding-left: 15px;
    display: block;
    background: url(../images/admin/icons/interface-speed.png) no-repeat 0 -18px;
}

.network-intf .iface .devs {
    /*background-color: #67BD4A;*/
    margin-top: 10px;
    font-weight: bold;
    width: 45px;
    padding-top: 25px;
    display: inline-block;
    background: url(../images/admin/icons/interface-devices.png) no-repeat center 0;
}

.network-intf .iface .speeds {
    font-size: 12px;
}

.network-intf .connection {
    background: url(../images/admin/icons/interface-connection.png) no-repeat 0 0;
    width: 15px;
    height: 7px;
    display: inline-block;
}
.network-intf .connection.ext {
    margin-top: 10px;
}
.network-intf .connection.int {
    background-position: 0 -9px;
    margin-bottom: 10px;
}

.toast-exception {
    padding: 0;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.toast-exception .content {
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
    color: #FFF;
    background: #1B1E26;
    border-width: 0;
}

.toast-exception .content h3 {
    color: #FFB300;
    margin: 0;
    font-weight: normal;
}

.toast-exception .x-autocontainer-innerCt {
    vertical-align: middle;
}


.dashboard-manager-header h3 {
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-size: 20px;
}




.reg-field .x-form-error-wrap {
    display: table-row !important;
    height: 16px;
}


.reg-field-error {
    background-image: none;
    padding: 0;
    line-height: 1;
}

.reg-field-error li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 0;
    /*test*/
}


/* registration */
.reg {
    opacity: 1;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.reg.fade {
    opacity: 0;
}

.reg .branding {
    background: #1b1e26;
}
.reg .branding img {
    max-height: 70px;
    margin: 15px;
}

/* reg close button */
.reg .reg-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.reg .reg-close .x-btn-inner {
    color: #999;
    transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.reg .reg-close .x-btn-inner span {
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.reg .reg-close:hover .x-btn-inner {
    color: #FFF;
}

.reg .reg-close:hover .x-btn-inner span {
    opacity: 1;
}


.reg .welcome {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.reg .welcome h1 {
    font-weight: 100;
    margin-bottom: 30px;
    line-height: 1;
}


.reg-panel {
    /*
    display: inline-block;
    width: 50% !important;
    text-align: left;
    */
}
.reg-panel.small {
    width: 100% !important;
    /*max-width: auto;*/
}


.reg-panel .x-panel-header {
    background: #67bd4b;
    background-image: none;
    box-shadow: none;
    padding: 9px 6px 8px 6px;
}

.reg-panel .x-title {
    line-height: 1;
}
.reg-panel .x-panel-header .x-title-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
}
.reg-panel .x-panel-body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eaf3e7;
    font-size: 14px;
    color: #4C4C4C;
}

/*****************************/
.reg .reg-body {
    display: table-cell;
    text-align: center;
    background: #FFF;
}

.reg .card {
    text-align: left;
    display: inline-block;
    padding: 5px;
}

/******************************/

.reg .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #4C4C4C;
    font-weight: 300;
    margin: 10px;
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    line-height: 1;
}

.reg .login-error {
    margin: 10px;
    padding: 8px 10px;
    color: red;
    border-radius: 5px;
    border: 2px solid #ed5565;
}

.reg-btn {
    cursor: pointer;
    background: #67bd4b;
    border-radius: 5px;
}
.reg-btn .x-btn-inner {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 20px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}
.reg-btn.x-btn-disabled {
    background: #DDD;
}
.reg-btn.x-btn-disabled .x-btn-inner {
    color: #999;
}

.html-btn {
    text-decoration: none;
}

.html-btn .x-btn-inner {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #67bd4b;
    text-decoration: none;
    font-weight: 600;
}
.html-btn:hover .x-btn-inner {
    color: #3E772B;
}

.reg .reg-field {
    width: 50%;
    /*display: inline-block;*/
    float: left;
    padding: 0 10px;
    margin-bottom: 0;
    position: relative;
}

.reg .reg-field .x-form-field {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    min-height: 24px;
    background-image: none;
}

.reg .reg-field .x-form-item-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #4C4C4C;
}

/*
.reg .reg-field .x-form-error-wrap {
    display: table-row !important;
    height: 18px;
}
*/

.reg .reg-field-error {
    background-image: none;
    padding: 0;
}
