@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PTSans.woff) format('woff');
}

body.blockpage {
    color: #FFF;
    background-color: #C0C0C0;
    text-align: center;
    margin: 0 10px;
    padding: 0;
    font-family: 'PT Sans', Tahoma, Arial, Helvetica, sans-serif;
}

.block {
    max-width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 30px 10px;
    background-color: #505050;
}

.block h1 {
    color: #67BD4A;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.block p {
    margin: 5px;
}

.block hr {
    border: 0;
    margin: 20px 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.block button {
    display: inline-block;
    font-size: 13px;
    padding: 4px 12px;
    font-weight: 400;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: #67BD4A;
    color: #FFF;
    transition: all ease-in-out .15s;
}

.block button:hover {
    background-color: rgba(103,189,74,.8);
}
.block button:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

.company-logo {
    max-width: 150px;
    max-height: 140px;
}

@media ( max-width : 320px) {
    .block .company-logo {
        height: 60px;
    }
}


/* user pages content container */
#content {
    padding: 17px 12px 12px 12px;
}
/* blockpage body*/
body.blockpage {
    background-color: #C0C0C0;
}
/* blockpage content */
body.blockpage #content {
    width: 627px;
    height: 505px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #888888;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #505050;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/* blockpage body*/
body.blockpage {
    font-size: 10pt;
}

/* blockpage description text*/
body.blockpage .description {
    margin-bottom: 30px;
    color: #FFFFFF;
}

/* blockpage contact text*/
body.blockpage p.contact {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 8pt;
}
/* header container */
#header {
    margin-bottom: 0px;
}
/* block page title */
.title-block-page {
    padding-left: 30px;
    vertical-align: bottom;
    text-align: left;
    font: bold 36px arial, tahoma, helvetica, sans-serif;
    color: #67686B;
}
/* blocked page icon*/
.icon-block {
    background: transparent url(../images/user/icon_block.png) no-repeat center center;
    height: 130px;
}
/* quarantined messages toolbar message*/
.message,.message-2 {
    padding: 5px 5px 5px 28px;
    border: 1px solid #60BB3F;
    font-size: 8pt;
    background: #FEFEDD url(../images/user/icon_message.png) no-repeat scroll 7px center !important;
    color: #333;
}

.message-2 {
    display: block;
    margin-bottom: 10px;
}

.message-container {
    padding: 2px;
}

.white-background {
    background-color: #FFF;
    background-image: none;
}

.description {
    font-size: larger;
}
/* block page main container */
body.blockpage #main {
    position: absolute;
    left: 15px;
    top: 130px;
    width: 620px;
    height: 380px;
    text-align: center;
    /* This is to place this above the border */
    z-index: 100;
}

body.blockpage #extra-div-1 {
    position: absolute;
    left: 15px;
    top: 130px;
    width: 620px;
    height: 380px;
    background: transparent;
}

body.blockpage #extra-div-2 {
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 620px;
    height: 12px;
    background: transparent;
}

#header {
    position: relative;
}
/* block page title */
body.blockpage #header .title {
    position: absolute;
    left: 180px;
    bottom: 8px;
    font: bold 36px arial, tahoma, helvetica, sans-serif;
    color: #67BD4A;
}
/* block page information list container*/
.info-list {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #505050;
    color: white;
}
/* block page information list element */
.info-list div {
    padding: 5px 5px 5px 5px;
}
/* block page footer */
body.blockpage #footer {
    font-size: small;
    text-align: right;
    position: absolute;
    left: 490px;
    top: 520px;
    display: none;
}
/* block page */
.u-form-item {
    margin: 5px 0;
    text-align: left;
    width: 340px;
}

.u-form-item-label {
    float: left;
    font-weight: bold;
    text-align: left;
    color: white;
    padding: 2px 5px;
}

#unblockNowButton {
    margin-left: 0px;
    font-size: 11px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

#unblockGlobalButton {
    margin-left: 5px;
    font-size: 11px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

#invalid-password {
    color: coral;
    margin-left: 60px;
}
