#contentleft {
	padding-top:35px;
	background:transparent url(images/MainBackgroundLeft_222x100.png)  repeat-y !important;
	text-align:center;
	height:100%;
}
.contentright {
	background: transparent url(images/MainBackgroundRight_1398x100.png) repeat-y !important;
}
#racks {
	position:relative;
	margin:auto;
	width:718px;
	height:100%;
	padding-bottom: 54px;	
}
#racks #leftBorder{
	position:absolute;
	top: 0px;
	left:0px;
	height:100%;
	width:59px;
	background: transparent url(images/pipeline/LeftRack59x100.png) repeat-y;
	background-position:top left;
}
#racks #rightBorder{
	position:absolute;
	top: 0px;
	right:0px;
	height:100%;
	width:59px;
	background: transparent url(images/pipeline/RightRack59x100.png) repeat-y;
	background-position:top right;
}
#logo {
	position:relative;
	margin-bottom: 35px;
}
#tabs {
	width:201px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
}
#help {
	width:87px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
#rack_list {
	position:relative;
	top: 54px;
	left: 15px;
	background-color: transparent;
	background-image: url(images/PlainSeparator688x50.png);
	background-repeat: no-repeat;
	width:690px;
	height:50px;
}
#rack_nodes {
	position:relative;
	top:54px;
	left:15px;
	width:690px;
}
div.rackNode {
	position:relative;
	background-color: transparent;
	background-image:  url(images/node/NodeBackground688x100.png);
	background-repeat: no-repeat;
	width:690px;
	height:101px;
}
#rack_select {
	position:relative;
	top:12px;
	left:90px;
	background-color:#AFAFAF;
	font-family: verdana, sans-serif;
	font-size:18px;
	color: #7C7B7B;
}
#nodes_separator_text {
	position:relative;
	left: 90px;
	top: 12px;
	width: 300px;
	font-family: verdana, sans-serif;
	font-size:19px;
	color: #7C7B7B;
}
#nodes_separator {
	position:relative;
	background-color: transparent;
	background-image:  url(images/PlainSeparator688x50.png);
	background-repeat: no-repeat;
	width:690px;
	height:50px;
}
.nodeImage {
	position:absolute;
	top:8px;
	left:50px;
}
div.nodeLabel {
	position:absolute;
	top: 19px;
	left: 100px;
	font-family: verdana, sans-serif;
	font-size:18px;
	/*font-weight:bold;*/
	color: #7C7B7B;
}
div.nodeBlingers {
	position:absolute;
	top:0px;
	right:90px;
	width:310px;
	height:82px;
}
.helpIcon {
	background:url(images/node/IconHelp28x28.png) no-repeat scroll -4px -4px !important; 
	width:20px;
	height:19px;
}
div.nodeStateIcon {
	position:absolute;
	top:20px;
	right:54px;
}
div.nodePowerIcon {
	position:absolute;
	top:54px;
	right:54px;
}
div.nodePowerOnHint {
	position:absolute;
	top:80px;
	right:64px;
}
div.nodeSettingsButton {
	position:absolute;
	top:56px;
	left:50px;
	/*width:66px;*/
}
div.nodeHelpButton {
	position:absolute;
	top:56px;
	left:182px;
	width:120px;
}
.nodeSettingsIcon {
	background:url(images/node/IconControlsClosed28x28.png) no-repeat scroll -5px -6px !important;  
	width:18px;
	height:16px;
}
div.windowBackground {
	background: transparent url(images/LightGreyBackground1600x100.png) repeat-y;
/*
	border:1px solid rgb(128,127,127);
	width:100%;
	height:100%;
*/	
}
div.nodeRemoveButton {
	position:absolute;
	left:10px;
	bottom:14px;
}
.nodeRemoveIcon {
	background:url(images/node/IconRemove_16x16.png) no-repeat !important; 
	width:16px;
	height:16px;
}
div.nodeCancelButton {
	position:absolute;
	right:93px;
	bottom:14px;
}
.cancelIcon {
	background:url(images/node/IconCancel_16x16.png) no-repeat !important; 
	width:16px;
	height:16px;
}
div.nodeSaveButton {
	position:absolute;
	right:10px;
	bottom:14px;
}
.saveIcon {
	background:url(images/node/IconSave_23x16.png) no-repeat !important; 
	width:23px;
	height:16px;
}
div.nodeSettingsContent {
	position:relative;
	margin-top:8px;
	margin-left:14px;
	margin-right:14px;
	margin-bottom: 8px;

}
div.blingerBox {
	position:absolute;
	top:15px;
	left:0px;
	border-top:2px solid #969696;
	border-left:3px solid #696969;
	border-bottom:2px solid #FFFFFF;
	border-right:2px solid #FFFFFF;
	background-color: #000000;
	height:64px;
}
div.blingerText {
	font-family: "Arial", sans-serif;
	font-size: 9px;
	color: #BEBEBE;
}
div.blingerName {
	position:absolute;
	top:1px;
	right:0px;
	font-family: "times", sans-serif;
	font-size: 11px;
	color: #969696;
}

div.activityBlinger {
	position:absolute;
	top:0px;
	left:0px;
	width:65px;
}
div.activityBlingerText {
	position:absolute;
	right:3px;
	text-align: right;
	z-index: 15;
}
div.activityBlingerBar {
	position:absolute;
	border-top:1px solid #6666FF;
	border-right:1px solid #6666FF;
	border-bottom:1px solid #6666FF;
	border-left:0px solid #333380;
	background-color: #333380;
	left:0px;
	height:10px;
	z-index: 14;
}
div.systemBlinger {
	position:absolute;
	top:0px;
	left:90px;
	width:215px;
}
div.systemBlingerBox {
	position:absolute;
	top:15px;
	left:0px;
	border-top:2px solid #969696;
	border-left:0px solid #FFFFFF;
	border-bottom:0px solid #FFFFFF;
	border-right:2px solid #969696;
	background-color: transparent;
	height:64px;
}
div.systemBlingerName {
	position:absolute;
	left:2px;
	text-align: left;
	color: #969696;
	width: 140px;
	font-size: 10px;
}
div.systemBlingerValue {
	position:absolute;
	right:2px;
	text-align: right;
	background-color: #000000;
	color: #28688B;
	width: 75px;
	font-size: 10px;
	padding-right:1px 
}
div.pixel {
	position:absolute;
	width:1px;
	height:1px;
}
div.toolboxButton {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
div.libraryButton {
	width:161px;
	height:57px;
}
div.configButton {
	width:161px;
	height:45px;
}
div.untangleButton {
	cursor: pointer;
	background-color: #E9E9E9;
	border: 1px solid #9B9B9B;
}
div.untangleButtonHover {
	border-color:#366dba;
	color:#366dba;
	background-color:#f1f6fc;
}
div.untangleButtonInvalid {
	border: 1px solid green;
}
button.add {
    background-image:url(images/add.gif) !important;
}
button.remove {
    background-image:url(images/delete.gif) !important;
}
button.iconRefresh {
    background-image:url(images/IconRefresh_16x16.png) !important;
}
div.editRow {
	background-image:url(images/editRow.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 100%;
	cursor: pointer;
}
div.removeRow {
	background-image:url(images/removeRow.gif);
	background-position:center;
	background-repeat:no-repeat;
	width: 100%;
	cursor: pointer;
}
.fieldLabel {
	width: 100px;
}

div.inputLine {
  clear: both;
  padding-top: 5px;
  }

div.inputLine span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.inputLine span.formw {
  float: right;
  width: 235px;
  text-align: left;
} 