##

This email is a summary of the email quarantine for &quot;$user_email&quot;.  You currently
have $totalNumRecords $totalSizeRecords emails quarantined.  To review emails to release or delete,
please visit your inbox at $linkgenerator.generateInboxLink()

