@import 'vars';

.x-view-item-focused {
    outline: none !important;
}

.apps-title {
    font-family: $custom-font;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 10px 40px;
    background: #ececec;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.app {
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10;
    background: rgba(0, 0, 0, 0.05);
    h2 {
        font-family: $custom-font;
        font-weight: 400;
        margin: 0;
    }
}

/*app install item*/
.app-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    // float: left;
    height: 140px;
    width: 140px;
    margin: 10px;
    border-radius: 5px;
    font-family: $custom-font;
    // background: #EEE;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    padding: 20px 10px 0;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);

    &.disabled {
        cursor: default;
        img {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: 0.5;
        }
        &:hover {
            box-shadow: none;
            background: none;
        }
    }

    .parent-policy {
        color: #777;
        font-size: 10px;
    }

    .state {
        position: absolute;
        top: 15px;
        right: 25px;
        background: #858585;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: block;
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 10;
        &.RUNNING {
            background: #69be4d;
        }
        i {
            color: #FFF;
            line-height: 20px;
        }
    }

    &:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        background: #EEE;
        img {
            // transform: translate3d( 0, 0, 0) scale(1);
        }
        .app-install {
            opacity: 1;
            bottom: 3px;
        }
        .app-install i {
            opacity: 1;
        }
    }
    &.install {
        &:hover {
            .app-icon {
                transform-origin: top;
                transform: scale(0.9);
            }
        }
    }
    &.remove {
        background: rgba(255, 0, 0, 0.32);
        /*
        animation: shakeremoval 0.8s infinite;
        transform-origin: 50% 50%;
        animation-timing-function: linear;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        */
    }
    &.insert {
        transform: scale(0)
    }

    .loader {
        display: none;
        left: 50%;
        top: 60px;
    }

    &.progress {
        box-shadow: none;
        background: none;
        cursor: default;
        img {
            filter: grayscale(100%);
            opacity: 0.2;
        }
        .loader {
            display: block;
        }
    }

    .new {
        display: none;
        font-weight: 600;
        font-size: 11px;
        color: #FFF;
        border-radius: 3px;
        background: green;
        padding: 0 3px;
        line-height: 1.2;
    }

    &.finish {
        .new {
            display: inline-block;
        }
    }
    .app-icon {
        display: block;
        position: relative;
        margin: 20px auto 0 auto;
        text-align: center;
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 10;
    }
    .app-name {
        display: block;
        line-height: 1;
        text-align: center;
        margin-top: 5px;
        color: #333;
        font-weight: 600;
        font-size: 12px;
        font-family: $custom-font;
    }
    img {
        width: 80px;
        height: 80px;
        // transform: translate3d( 0, 0, 0) scale(0.9);
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .app-install, {
        opacity: 0;
        color: #67bd4a;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 11px;
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .app-done {
        opacity: 0;
        color: #333;
        position: absolute;
        width: 24px;
        height: 24px;
        //border-radius: 50%;
        bottom: 5px;
        left: 58px;
        right: 0;
        text-align: center;
        font-size: 11px;
        z-index: 10;
        transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
        //background: #FFF;
        //box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        i {
            color: green;
            font-size: 24px;
        }
    }
    .app-state {
        position: absolute;
        right: 24px;
        top: 15px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2;
        background: #999;
        z-index: 10;
        &.running {
            background: #53b432;
        }
        i {
            color: #FFF;
            font-size: 14px;
        }
    }
    .spinner {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 0px;
        width: 100%;
        transform: scale(0.7);
    }
}

.app-install-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    // float: left;
    height: 120px;
    width: 280px;
    margin: 10px 20px;
    border-radius: 3px;
    font-family: $custom-font;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    // background: #EEE;
    text-decoration: none;
    overflow: hidden;
    // text-align: center;
    padding: 10px 15px 10px 100px;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
    img {
        position: absolute;
        left: 10px;
        top: 10px;
        transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    h3 {
        margin: 0;
        font-size: 14px;
        color: #555;
    }
    p {
        margin: 3px 0;
        line-height: 1;
        font-weight: 600;
        font-size: 11px;
        color: #555;
        font-family: $custom-font;
    }
    &:hover {
        h3 {
            color: #000;
        }
        // background: rgba(0, 0, 0, 0.1);
        img {
            opacity: 0.2;
        }
        i.fa-download {
            opacity: 1;
        }
    }

    i {
        opacity: 0;
        position: absolute;
        top: 35px;
        left: 32px;
        color: rgba(0, 0, 0, 0.8);
        transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .loader {
        display: none;
        left: 50px;
        top: 50px;
    }

    &.progress {
        img {
            opacity: 0.1;
        }
        i {
            opacity: 0;
        }
        .loader {
            display: block;
        }
        &:hover i.fa-download {
            opacity: 0;
        }
    }

    &.finish {
        img {
            opacity: 0.1;
        }
        i.fa-check {
            opacity: 1;
            color: green;
        }
        &:hover i.fa-download {
            opacity: 0;
        }
    }
}


.cond-val {
    background: beige;
    border-radius: 2px;
    padding: 1px 3px 2px 3px;
    border-radius: 3px;
    border: 1px #DDD solid;
    // &.invert {
    //     // background: #e4a4a4;
    //     // border: 1px red solid;
    // }
}

///////////////////////////////////////

.app-desc {
    font-family: $custom-font;
    font-size: 14px;
    line-height: 1.2;
    padding: 0 0 0 90px;
    height: 80px;
    margin-bottom: 10px;
    img {
        position: absolute;
        left: 0;
        top: 0;
    };
    h3 {
        font-family: $custom-font;
        font-size: 36px;
        font-weight: 400;
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.app-section {
    .x-fieldset-header-text {
        font-family: $custom-font;
        font-size: 14px !important;
        font-weight: 600 !important;
        color: #333;
    }
    &.x-item-disabled {
        color: #999;
        .x-fieldset-header-text {
            color: #999;
        }
    }
}

.power-btn {
    border: 0;
    background: none !important;
    .x-btn-icon-el {
        width: 30px;
    }
}


.app-reports {
    -moz-columns: 200px;
    -webkit-columns: 200px;
    columns: 200px;
    column-fill: auto;
    -moz-column-fill: auto;
    -webkit-column-fill: auto;
    a {
        font-family: $custom-font;
        font-size: 12px;
        font-weight: 600;
        color: #555;
        text-decoration: none;
        border-radius: 3px;
        padding: 0 5px;
        margin: 1px;
        line-height: 1.5;
        display: block;
        transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
        &:hover {
            color: #000;
            background: #EEE;
            box-shadow: 0 0 2px #999;
        }
    }
}

// .category-icon-tree img {
//     background-size: contain;
// }

// breadcrumbs
.x-breadcrumb-btn {
    background: none !important;
}
.x-toolbar-navigation .x-btn-icon-el {
    background-size: cover;
}
.x-menu-item-icon-default {
    background-size: contain;
}



.reports-all {
    .charts-bar {
        text-align: center;
        color: rgba(0, 0, 0, 0.1);
        i {
            margin: 0 10px;
        }
    }
    .pls {
        font-family: $custom-font-condensed;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: #777;
        margin-top: 20px;
    }
    .stats {
        text-align: center;
        font-family: $custom-font-condensed;
        font-size: 24px;
        color: #777;
        .stat {
            display: inline-block;
            width: 200px;
            vertical-align: top;
            padding: 20px 20px;
            text-align: right;

            img {
                margin: 6px 0 3px 0;
            }

            &:last-child {
                text-align: left;
                border-left: 1px #EEE solid;
            }
            h1 {
                font-size: 4.4em;
                font-weight: 100;
                margin: 0;
                line-height: 0.9;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            }
            p {
                margin: 10px 0;
                line-height: 0.9;
            }
            span {
                font-size: 16px;
                color: #999;
            }
            &.reports {
                text-align: left;
                padding: 0;
                position: relative;
                top: 30px;
                left: -30px;
                font-size: 16px;
                color: #999;
            }
        }
    }

}

.x-tree-icon {
    padding-top: 4px;
    font-size: 12px;
    color: #999;
}

.x-tree-custom-report {
    .x-tree-icon {
        color: #38b711;
    }
}

.x-tree-category {
    font-family: $custom-font-condensed;
    font-size: 13px;
    font-weight: 600;
    img {
        background-size: contain;
    }
}
.x-tree-report {
    font-family: $custom-font-condensed;
    font-size: 13px;
    font-weight: 400;
}


.x-grid-row.parent-policy {
    color: #999;
}
