@import 'vars';
cite {
    //border-bottom: 1px red dotted;
    background: yellow;
    //background: rgba(255, 255, 0, 0.5);
    font-style: normal;
}

// .fa {
//     // line-height: 1.3;
// }

// .fa-lg {
//     line-height: 1;
// }

// fix for Mac Safari buttons issue
.x-btn-icon-right > .x-btn-inner-default-small,
.x-btn-icon-left > .x-btn-inner-default-small,
.x-btn-icon-right > .x-btn-inner-default-toolbar-small,
.x-btn-icon-left > .x-btn-inner-default-toolbar-small {
    max-width: calc(100% - 15px);
}

.x-panel-navigation {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.x-panel-body-navigation {
    /*background: -webkit-linear-gradient(top, rgb(40, 40, 40), rgb(25, 25, 25));*/
    background: #1b1e26;
    color: #CCC;
}

.nav-item {
    display: inline-block;
    height: 40px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 10px 0 8px;
    border-radius: 3px;
    .x-btn-inner {
        font-size: 12px;
        color: #CCC;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover, &.x-btn-pressed {
        .x-btn-inner {
            color: #FFF;
        }
    }
    &.x-btn-pressed {
        background: #3c3c3c;
    }
}










.dashboard {
    background: #EEE;
    &.highlight {
        .widget {
            opacity: 0.1;
        }
    }
}
.dashboard > div > div {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // padding: 8px;
    vertical-align: top;
    // background: darkgray;
    box-sizing: border-box;
}

.dashboard > .x-autocontainer-outerCt {
    display: block;
}

.dashboard .x-autocontainer-innerCt::after {
    content: '';
    flex-grow: 1000000;
}


.dashboard.temp .widget {
    opacity: 0.3;
}

/*
.widget .highcharts-axis-labels {
    opacity: 0.3 !important;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}
.widget.highlight .highcharts-axis-labels, .widget:hover .highcharts-axis-labels {
    opacity: 1 !important;
}
*/


.apps-separator {
    font-family: $custom-font;
    font-size: 14px;
    font-weight: 600;
    background-color: #CCCDCD;
    line-height: 40px;
    padding-left: 10px;
}


@keyframes shakeremoval {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


.toast {
    background: #333;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    height: auto !important;
    z-index: 9999;
    &-body {
        font-family: $custom-font;
        font-size: 14px;
        height: auto !important;
        color: #FFF;
    }
    i {
        color: #0F0;
        margin-right: 10px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &.exception {
        i {
            color: yellow;
        }
        //background: red;
    }
}

.toast-invalid-frm {
    background: #333;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    height: auto !important;
    z-index: 9999;
    &-body {
        font-family: $custom-font;
        font-size: 12px;
        height: auto !important;
        color: #FFF;
    }
    i {
        color: yellow;
        margin-right: 10px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .field-name {
        font-size: 14px;
        line-height: 1;
        color: #FFF;
    }
    .field-error {
        color: #CCC;
        line-height: 1;
        margin-bottom: 10px;
        display: inline-block;
    }
}


.x-grid-row {
    color: #333;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-size: 13px;
}

.x-grid-dirty-cell {
    color: blue;
}

.x-grid-row.added {
    background: rgba(208, 253, 220, 0.5);
    //color: green;
    /*font-weight: 600;*/
    /*background: yellow;*/
}

.x-grid-row.dirty {
    background: rgba(255, 191, 191, 0.24);
}

.x-grid-cell-inner-action-col {
    padding: 1px;
}

.x-grid-row .stripe-col {
    background: rgba(0, 0, 0, 0.05);
}


.grid-description {
    font-family: $custom-font;
    background: #eaeaea;
    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }
    p {
        margin: 0;
        color: #555;
    }
}

.status-item {
    padding: 10px 5px 20px 5px;
}

.status-item-header-title {
    font-family: $custom-font;
    font-size: 14px;
    font-weight: 600;
}

.status-item-body {
    margin-top: 10px;
}

.metrics-grid .x-grid-with-row-lines .x-grid-item {
    border-width: 0;
}

.power-btn i {
    color: red;
}
.power-btn.RUNNING i {
    color: green;
}



.app-icon .x-grid-cell-inner {
    padding: 1px 0 0 2px;
    img {
        width: 17px;
        height: 17px;
    }
}

.x-grid-item-focused .x-grid-cell-inner:before {
    display: none;
}



.loader {
    // background: rgba(255, 255, 255, 0.9);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 999;
    // .spinner {
    //     width: 70px;
    //     text-align: center;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     margin-left: -35px;
    //     margin-top: -8px;
    // }
}



.report-header {
    font-family: $custom-font-condensed;
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background: #F5F5F5;
    // padding: 5px 10px;
    h2 {
        margin: 0;
        font-family: $custom-font-condensed;
        font-weight: 400;
        font-size: 24px;
    }
    p {
        margin: 0;
        color: #555;
    }
}

.chart {
    // margin-top: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}


.entry-btn {
    width: 220px;
    display: inline-block;
    margin: 5px 5px 10px 5px;
    border-radius: 3px;
    //background: #EEE;
    cursor: pointer;
    //min-height: 120px;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    .x-btn-inner-default-small {
        font-family: $custom-font;
        padding: 10px 5px 10px 35px;
    }
    i {
        // font-size: 24px !important;
        position: absolute;
        left: 10px;
        top: 12px;
        color: #555;
    }
    .ttl {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    p {
        font-size: 12px;
        white-space: normal;
        //line-height: 1;
        overflow: initial;
        color: #777;
        margin: 2px 0;
    }
    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.05);
    }
}

.category-btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
    width: 120px;
    padding: 5px 0 0 0;
    //transition: box-shadow 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    .x-btn-inner-default-small {
        font-family: $custom-font;
        font-size: 12px;
        //line-height: 15px;
        font-weight: 600;
        padding: 10px 5px;
        color: #777;
        transition: color 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        transition: transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
    span {
        vertical-align: middle;
    }
    &:hover {
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        img {
            transform: scale(1.15);
        }
        .x-btn-inner-default-small {
            color: #000;
        }
    }
}


.headline {
    font-family: $custom-font;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    color: #777;
}


.x-action-col-icon {
    font-size: 14px;
    // color: #333;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // height: auto;
    // width: auto;
}



.bar-text .x-form-display-field-default {
    font-size: 11px;
    min-height: auto;
    margin-top: 2px;
}


.heading-btn {
    cursor: pointer;
    border-radius: 3px;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
    .x-btn-inner {
        color: #FFF;
        font-size: 12px;
        padding: 5px 10px;
    }
    &:hover {
        background: #1b1e26;
        .x-btn-inner {
            color: #FFF;
            font-size: 12px;
        }
    }
    &.x-btn-pressed {
        background: #1b1e26;
        -webkit-box-shadow: inset 0 3px 5px #000;
        box-shadow: inset 0 3px 5px #000;
    }
}


.prop-grid .x-grid-row.empty {
    color: #CCC;
}
.prop-grid .x-grid-cell-first .x-grid-cell-inner {
    text-align: right !important;
    // font-family: 'Courier New';
    // font-size: 12px;
    // font-weight: 600;
}
.prop-grid .x-grid-cell-last {
    // font-family: 'Courier New';
    font-size: 12px;
    // font-weight: 600;
}












.x-toolbar-navigation {
    background: #1b1e26;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.x-toolbar-navigation .x-btn {
    padding: 10px 7px;
    background: transparent;
    border-radius: 0;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
    &.logo {
        padding: 6px 7px 2px 7px;
    }
    &.upper {
        .x-btn-inner {
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    .x-btn-inner {
        font-family: $custom-font;
        font-size: 13px;
        color: #CCC;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &.x-btn-over {
        background: transparent;
        .x-btn-inner {
            color: #FFF;
        }
        .x-btn-icon-el {
            color: #FFF;
        }
    }

    .x-btn-icon-el {
        color: #999;
        font-size: 14px;
        margin-bottom: 0 !important;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.x-btn-focus {
        box-shadow: none;
        .x-btn-wrap {
            outline: none;
        }
    }
    &.pressed {
        // background: #3a3a3a;
        background: transparent;
        .x-btn-inner {
            color: #8efb6c;
        }
        .x-btn-icon-el {
            // color: #6abc50;
            color: #8efb6c;
        }
    }
}





  .loader,
  .loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .loader {
    // margin: 20px auto;
    // left: 50%;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    text-indent: -9999em;
    box-sizing: border-box;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-right: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid green;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: install 1.1s infinite linear;
    animation: install 1.1s infinite linear;
  }
  @-webkit-keyframes install {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes install {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.x-grid-widgetcolumn-cell-inner {
    padding: 0;
    margin: 0;
}








.action-cell {
    background: rgba(210, 210, 210, 0.15);
}

.action-cell-cond {
    background: rgba(210, 210, 210, 0.15);
    .x-action-col-icon {
        line-height: 1.5em;
    }
}


.mark-delete {
    // background: #e8c1c1;
    // text-decoration: line-through;
    background: rgba(255, 170, 108, 0.18);
    // color: #CCC;
}
.mark-new {
    background: #dffddf;
}
.mark-readonly {
    background: #f3f3f3;
}

// especially for gray theme
span.fa:before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.cert-verification table {
    width: 100%;
}


.x-fieldset-header-default > .x-fieldset-header-text {
    font-weight: bold;
    // font-family: $custom-font;
    font-size: 12px;
}


.fa {
    &-red { color: red; }
    &-green { color: #64D242; }
    &-orange { color: orange !important; }
    &-yellow { color: yellow; }
    &-gray { color: #999; }
}



.x-mask-msg {
    border: 0;
    background: transparent;
}

.x-mask-msg-inner {
    text-align: center;
    border: 0;
    background: transparent;
    padding: 2px;
    i {
        margin: 5px;
    }
}
.x-mask-msg-text {
    display: inline;
    background: none;
    padding: 5px;
}


.cat-reports {
    text-align: center;
    padding: 0 10px;
    a {
        text-align: left;
        color: #555;
        width: 250px;
        height: 80px;
        margin: 5px 10px;
        vertical-align: top;
        font-family: $custom-font;
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding: 10px 10px 10px 55px;
        border-radius: 5px;
        line-height: 1;
        span {
            font-weight: 600;
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
            display: inline-block;
        }
        i {
            position: absolute;
            left: 10px;
            top: 10px;
        }
        &:hover {
            background: #EEE;
        }
    }
}


.x-colorpicker-field input {
    background: none;
    color: transparent;
}
.x-colorpicker-field-swatch {
    width: auto;
    left: 0;
    right: 17px
}

.policy-menu {
    background: transparent !important;
}

.account-btn {
    background: transparent !important;
}
.account-menu {
    border: 0;
    .x-menu-body {
        background: #1b1e26;
    }
    .x-menu-item-focus {
        background: none;
        .x-menu-item-text, .x-menu-item-icon {
            color: #FFF;
        }
    }
    .x-menu-item-text {
        font-family: $custom-font;
        font-size: 13px;
        color: #CCC;
        line-height: 40px;
    }
    .x-menu-item-icon {
        color: #CCC;
        top: 15px;
    }
}

.notification-btn {
    background: transparent !important;
}
.notification-menu {
    .x-menu-body {
        background: #1b1e26;
        color: #CCC;
    }
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    font-family: $custom-font;
    border-radius: 0 0 5px 5px;
}

.notification-menu ul {
    margin: 0 5px 0 20px;
    padding: 0;
}

.notification-menu h3 {
    margin: 0 0 10px 0;
    font-weight: normal;
}

.install-header {
    font-family: $custom-font;
    font-size: 13px;
    color: #CCC;
    line-height: 36px;
}




a.view-reports {
    text-decoration: none;
    // font-family: $custom-font;
    font-size: 11px;
    font-weight: 600;
    color: #6f6f6f;
    padding: 5px;
    &:hover {
        color: #000;
    }
}


.tagpicker {
    .x-tagfield {
        padding: 1px 2px;
    }
    .x-tagfield-list {
        list-style-type: none;
    }
    .x-form-text-wrap {
        border: 0;
    }
    .x-form-text-default {
        background: none;
    }
    .x-tagfield-input {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        input {
            height: 100%;
            width: 100%;
        }
    }
    .tag-item {
        float: left;
        font-size: 11px;
        border: 1px #CCC solid;
        border-radius: 3px;
        background: #EEE;
        padding: 0 4px;
        line-height: 1.3;
        cursor: pointer;
        margin: 1px;
        i { color: #777; font-size: 10px;}
    }
    .no-tags {
        font-size: 11px;
        color: #999;
    }
    &:hover {
        .tag-item {
            background: #DDD;
        }
    }
}
.tag-cell .x-grid-cell-inner {
    padding: 1px;
}
