@import 'vars';

cite {
    //border-bottom: 1px red dotted;
    background: yellow;
    //background: rgba(255, 255, 0, 0.5);
    font-style: normal;
}

// .fa {
//     // line-height: 1.3;
// }

// .fa-lg {
//     line-height: 1;
// }

.x-panel-navigation {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.x-panel-body-navigation {
    /*background: -webkit-linear-gradient(top, rgb(40, 40, 40), rgb(25, 25, 25));*/
    background: #1b1e26;
    color: #CCC;
}

.nav-item {
    display: inline-block;
    height: 40px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 10px 0 8px;
    border-radius: 3px;
    .x-btn-inner {
        font-size: 12px;
        color: #CCC;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover, &.x-btn-pressed {
        .x-btn-inner {
            color: #FFF;
        }
    }
    &.x-btn-pressed {
        background: #3c3c3c;
    }
}










.dashboard {
    // background: #FFF;
    &.highlight {
        .widget {
            opacity: 0.3;
        }
    }
}
.dashboard > div > div {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // padding: 8px;
    vertical-align: top;
    // background: darkgray;
    box-sizing: border-box;
}

.dashboard .x-autocontainer-innerCt::after {
    content: '';
    flex-grow: 1000000000;
}


.dashboard.temp .widget {
    opacity: 0.3;
}

/*
.widget .highcharts-axis-labels {
    opacity: 0.3 !important;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}
.widget.highlight .highcharts-axis-labels, .widget:hover .highcharts-axis-labels {
    opacity: 1 !important;
}
*/


.apps-separator {
    font-family: $custom-font;
    font-size: 14px;
    font-weight: 600;
    background-color: #CCCDCD;
    line-height: 40px;
    padding-left: 10px;
}


@keyframes shakeremoval {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


/*app install item*/
// .app-item {
//     cursor: pointer;
//     position: relative;
//     float: left;
//     height: 140px;
//     width: 140px;
//     margin: 10px;
//     border-radius: 3px;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.4);
//     background: #FFF;
//     text-decoration: none;
//     overflow: hidden;
//     transition: background .3s cubic-bezier(0.23, 1, 0.32, 1), transform .5s cubic-bezier(0.23, 1, 0.32, 1);
//     &:hover {
//         background: #EEE;
//         .app-install {
//             opacity: 1;
//             bottom: 3px;
//         }
//         .app-install i {
//             opacity: 1;
//         }
//     }
//     &.install {
//         &:hover {
//             .app-icon {
//                 transform-origin: top;
//                 transform: scale(0.9);
//             }
//         }
//     }
//     &.remove {
//         background: rgba(255, 0, 0, 0.32);
//         /*
//         animation: shakeremoval 0.8s infinite;
//         transform-origin: 50% 50%;
//         animation-timing-function: linear;
//         transform: translate3d(0, 0, 0);
//         backface-visibility: hidden;
//         perspective: 1000px;
//         */
//     }
//     &.insert {
//         transform: scale(0)
//     }
//     &.progress {
//         background: #EEE;
//         .app-icon {
//             transform-origin: top;
//             transform: scale(0.9);
//             img {
//                 filter: grayscale(100%);
//             }
//         }
//         .spinner {
//             display: block;
//         }
//     }
//     &.installed {
//         background: transparent;
//         box-shadow: none;
//         .app-icon {
//             transform-origin: top;
//             transform: scale(0.9);
//             img {
//                 //opacity: 0.7
//             }
//         }
//         .app-name {
//             color: green;
//         }
//         .app-done {
//             opacity: 1;
//         }
//         .app-install {
//             opacity: 0;
//         }
//     }
//     .app-icon {
//         display: block;
//         position: relative;
//         margin: 20px auto 0 auto;
//         text-align: center;
//         transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
//         z-index: 10;
//     }
//     .app-name {
//         display: block;
//         line-height: 1;
//         text-align: center;
//         margin-top: 5px;
//         color: #4E4C4C;
//         font-weight: 600;
//         font-size: 12px;
//         font-family: 'Source Sans Pro', sans-serif;
//     }
//     img {
//         width: 80px;
//         height: 80px;
//         transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
//     }
//     .app-install, {
//         opacity: 0;
//         color: #67bd4a;
//         position: absolute;
//         bottom: 10px;
//         left: 0;
//         right: 0;
//         text-align: center;
//         font-size: 11px;
//         transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
//     }
//     .app-done {
//         opacity: 0;
//         color: #333;
//         position: absolute;
//         width: 24px;
//         height: 24px;
//         //border-radius: 50%;
//         bottom: 5px;
//         left: 58px;
//         right: 0;
//         text-align: center;
//         font-size: 11px;
//         z-index: 10;
//         transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
//         //background: #FFF;
//         //box-shadow: 0 0 10px rgba(0, 0, 0, 1);
//         i {
//             color: green;
//             font-size: 24px;
//         }
//     }
//     .app-state {
//         position: absolute;
//         right: 24px;
//         top: 15px;
//         width: 16px;
//         height: 16px;
//         border-radius: 50%;
//         text-align: center;
//         line-height: 1.2;
//         background: #999;
//         z-index: 10;
//         &.running {
//             background: #53b432;
//         }
//         i {
//             color: #FFF;
//             font-size: 14px;
//         }
//     }
//     .spinner {
//         display: none;
//         position: absolute;
//         bottom: 10px;
//         left: 0px;
//         width: 100%;
//         transform: scale(0.7);
//     }
// }

/*
.app-item.progress .app-install, .app-item.progress.x-item-disabled .app-loader {
    display: none;
}
*/

/*
.app-item div.app-config-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.app-item div.app-icon-install {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 15px;
    height: 15px;
}

.app-item p.app-progress-text {
    margin: 0 2px;
    font-size: 11px;
    line-height: 34px;
}
*/
////////////////////////////////////////////////////



.toast {
    background: #333;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    height: auto !important;
    z-index: 9999;
    &-body {
        font-family: $custom-font;
        font-size: 12px;
        height: auto !important;
        color: #CCC;
    }
    i {
        color: #0F0;
    }
    &.exception {
        i {
            color: red;
        }
        //background: red;
    }
}


.x-grid-row {
    color: #333;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-size: 13px;
}

.x-grid-dirty-cell {
    color: blue;
}

.x-grid-row.added {
    background: rgba(208, 253, 220, 0.5);
    //color: green;
    /*font-weight: 600;*/
    /*background: yellow;*/
}

.x-grid-row.dirty {
    background: rgba(255, 191, 191, 0.24);
}

.x-grid-cell-inner-action-col {
    padding: 1px;
}

.x-grid-row .stripe-col {
    background: rgba(0, 0, 0, 0.05);
}

i.draggable {
    cursor: move;
}

.grid-description {
    font-family: $custom-font;
    background: #eaeaea;
    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }
    p {
        margin: 0;
        color: #555;
    }
}

.status-item {
    padding: 10px 5px 20px 5px;
}

.status-item-header-title {
    font-family: $custom-font;
    font-size: 14px;
    font-weight: 600;
}

.status-item-body {
    margin-top: 10px;
}

.metrics-grid .x-grid-with-row-lines .x-grid-item {
    border-width: 0;
}

.power-btn i {
    color: red;
}
.power-btn.RUNNING i {
    color: green;
}



.app-icon .x-grid-cell-inner {
    padding: 1px 0 0 2px;
    img {
        width: 17px;
        height: 17px;
    }
}

.x-grid-item-focused .x-grid-cell-inner:before {
    display: none;
}



.loader {
    // background: rgba(255, 255, 255, 0.9);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 999;
    // .spinner {
    //     width: 70px;
    //     text-align: center;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     margin-left: -35px;
    //     margin-top: -8px;
    // }
}



.report-header {
    font-family: $custom-font;
    padding: 10px;
    h2 {
        margin: 0;
        font-weight: 400;
    }
    p {
        margin: 0;
        color: #555;
    }
}

.chart {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}


.entry-btn {
    width: 220px;
    display: inline-block;
    margin: 5px 5px 10px 5px;
    border-radius: 3px;
    //background: #EEE;
    cursor: pointer;
    //min-height: 120px;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    .x-btn-inner-default-small {
        font-family: $custom-font;
        padding: 10px 5px 10px 35px;
    }
    i {
        // font-size: 24px !important;
        position: absolute;
        left: 10px;
        top: 12px;
        color: #555;
    }
    .ttl {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    p {
        font-size: 12px;
        white-space: normal;
        //line-height: 1;
        overflow: initial;
        color: #777;
        margin: 2px 0;
    }
    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.05);
    }
}

.category-btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
    width: 120px;
    padding: 5px 0 0 0;
    //transition: box-shadow 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    .x-btn-inner-default-small {
        font-family: $custom-font;
        font-size: 12px;
        //line-height: 15px;
        font-weight: 600;
        padding: 10px 5px;
        color: #777;
        transition: color 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
        transition: transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
    span {
        vertical-align: middle;
    }
    &:hover {
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        img {
            transform: scale(1.15);
        }
        .x-btn-inner-default-small {
            color: #000;
        }
    }
}


.headline {
    font-family: $custom-font;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    color: #777;
}


.x-action-col-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
}



.bar-text .x-form-display-field-default {
    font-size: 11px;
    min-height: auto;
    margin-top: 2px;
}


.heading-btn {
    cursor: pointer;
    border-radius: 3px;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
    .x-btn-inner {
        color: #FFF;
        font-size: 12px;
        padding: 5px 10px;
    }
    &:hover {
        background: #1b1e26;
        .x-btn-inner {
            color: #FFF;
            font-size: 12px;
        }
    }
    &.x-btn-pressed {
        background: #1b1e26;
        -webkit-box-shadow: inset 0 3px 5px #000;
        box-shadow: inset 0 3px 5px #000;
    }
}


.prop-grid .x-grid-row.empty {
    color: #CCC;
}
.prop-grid .x-grid-cell-first .x-grid-cell-inner {
    text-align: right !important;
    // font-family: 'Courier New';
    // font-size: 12px;
    // font-weight: 600;
}
.prop-grid .x-grid-cell-last {
    // font-family: 'Courier New';
    font-size: 12px;
    // font-weight: 600;
}












.fa {
    // font-size: initial;
}

.x-toolbar-navigation {
    background: #1b1e26;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.x-toolbar-navigation .x-btn {
    padding: 10px 7px;
    background: transparent;
    border-radius: 0;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
    &.logo {
        padding: 6px 7px 2px 7px;
    }
    &.upper {
        .x-btn-inner {
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .x-btn-inner {
        font-family: $custom-font;
        font-size: 12px;
        color: #AAA;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &.x-btn-over {
        background: transparent;
        .x-btn-inner {
            color: #FFF;
        }
        .x-btn-icon-el {
            color: #FFF;
        }
    }

    .x-btn-icon-el {
        color: #999;
        font-size: 14px;
        margin-bottom: 0 !important;
        transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.x-btn-focus {
        box-shadow: none;
        .x-btn-wrap {
            outline: none;
        }
    }
    &.x-btn-pressed {
        // background: #3a3a3a;
        background: transparent;
        .x-btn-inner {
            color: #8efb6c;
        }
        .x-btn-icon-el {
            // color: #6abc50;
            color: #8efb6c;
        }
    }
}





  .loader,
  .loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .loader {
    // margin: 20px auto;
    // left: 50%;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    text-indent: -9999em;
    box-sizing: border-box;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-right: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-left: 3px solid green;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: install 1.1s infinite linear;
    animation: install 1.1s infinite linear;
  }
  @-webkit-keyframes install {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes install {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

