.support-field .x-form-error-wrap {
    display: table-row !important;
    height: 16px;
}


.support-field-error {
    background-image: none;
    padding: 0;
    line-height: 1;
}

.support-field-error li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 0;
    /*test*/
}


/* registration */
.support {
    opacity: 1;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.support.fade {
    opacity: 0;
}

.support .branding {
    background: #1b1e26;
}
.support .branding img {
    max-height: 70px;
    margin: 15px;
}

/* reg close button */
.support .support-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.support .support-close .x-btn-inner {
    color: #999;
    transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.support .support-close .x-btn-inner span {
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.support .support-close:hover .x-btn-inner {
    color: #FFF;
}

.support .support-close:hover .x-btn-inner span {
    opacity: 1;
}


.support .welcome {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.support .welcome h1 {
    font-weight: 100;
    margin-bottom: 30px;
    line-height: 1;
}


.support-panel {
    /*
    display: inline-block;
    width: 50% !important;
    text-align: left;
    */
}
.support-panel.small {
    width: 100% !important;
    /*max-width: auto;*/
}


.support-panel .x-panel-header {
    background: #67bd4b;
    background-image: none;
    box-shadow: none;
    padding: 9px 6px 8px 6px;
}

.support-panel .x-title {
    line-height: 1;
}
.support-panel .x-panel-header .x-title-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
}
.support-panel .x-panel-body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eaf3e7;
    font-size: 14px;
    color: #4C4C4C;
}

/*****************************/
.support .support-body {
    display: table-cell;
    text-align: center;
    background: #FFF;
}

.support .card {
    text-align: left;
    display: inline-block;
    padding: 5px;
}

/******************************/

.support .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #4C4C4C;
    font-weight: 300;
    margin: 10px;
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    line-height: 1;
}

.support .login-error {
    margin: 10px;
    padding: 8px 10px;
    color: red;
    border-radius: 5px;
    border: 2px solid #ed5565;
}

.support-btn {
    cursor: pointer;
    background: #67bd4b;
    border-radius: 5px;
}
.support-btn .x-btn-inner {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 20px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}
.support-btn.x-btn-disabled {
    background: #DDD;
}
.support-btn.x-btn-disabled .x-btn-inner {
    color: #999;
}

.html-btn {
    text-decoration: none;
}

.html-btn .x-btn-inner {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #67bd4b;
    text-decoration: none;
    font-weight: 600;
}
.html-btn:hover .x-btn-inner {
    color: #3E772B;
}

.support .support-field {
    width: 50%;
    /*display: inline-block;*/
    float: left;
    padding: 0 10px;
    margin-bottom: 0;
    position: relative;
}

.support .support-field .x-form-field {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    min-height: 24px;
    background-image: none;
}

.support .support-field .x-form-item-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #4C4C4C;
}

/*
.support .support-field .x-form-error-wrap {
    display: table-row !important;
    height: 18px;
}
*/

.support .support-field-error {
    background-image: none;
    padding: 0;
}
