.widget {
    .header {
        font-family: 'Roboto Condensed', sans-serif;
        height: 40px;
        position: relative;
        h1 {
            font-size: 20px;
            font-weight: 300;
            //line-height: 40px;
            padding: 5px 10px 0 10px;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        button {
            position: absolute;
            padding: 0;
            top: 10px;
            right: 8px;
            border: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            background: none;
            opacity: 0;
            transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
            i {
                color: #999;
                font-size: 16px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
            }
            &:hover {
                i {
                    color: #000;
                }
            }
        }
        p {
            margin: 0;
            padding: 0 10px;
            line-height: 1;
            color: #999;
        }
    }
    &:hover {
        .action-btn {
            opacity: 1;
        }
    }

    &.adding {
        opacity: 0;
    }
}

// .widget:hover .header .action {
//     opacity: 1;
// }

// .widget .header .action {
//     border: 0;
//     border-radius: 50%;
//     background: none;
//     cursor: pointer;
//     opacity: 0;
//     transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
// }
// .widget .header .action i {
//     color: #777;
//     font-size: 16px;
//     transition: color .3s cubic-bezier(0.23, 1, 0.32, 1);
// }

// .widget .header .action:hover i {
//     color: #ec3610;
// }


// .widget .chart {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

// .widget .settings {
//     position: absolute;
//     top: 50px; left: 0; right: 0; bottom: 0;
// }

// .widget.moved {
//     background: rgba(100, 100, 100, 0.3);
//     transform: scale(0.8);
// }


.info-widget {
    .info-host {
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        background-color: #EEE;
        p {
            margin: 0;
            padding: 0;
        }
        .version {
            font-size: 10px;
        }
    }
    .info-version {
        font-size: 11px;
    }
    .info-lbl {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding-right: 5px;
        vertical-align: top;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
    }
    .info-val {
        display: inline-block;
        width: 50%;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
    }
}


.load-bar {
    width: 100%;
    background: #EEF1F5;
    height: 16px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    &-inner {
        background: #E1B505;
        width: 100%;
        height: 16px;
        position: relative;
        transition: left 0.35s ease-in;
        box-shadow: 1px 0 1px rgba(0, 0, 0, .3);
        //top: 0;
    }
    p {
        position: absolute;
        right: 5px;
        top: 0;
        margin: 0;
    }
    &-values {
        width: 100%;
        display: table;
        font-size: 14px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 1;
        margin-top: 2px;
        color: #555;
        position: relative;
        .load-used {
            display: table-cell;
            padding-left: 5px;
            white-space: nowrap;
            overflow: hidden;
        }
        .load-free {
            display: table-cell;
            text-align: right;
            padding-right: 5px;
        }
        span {
            line-height: 1;
            font-size: 11px;
            color: #999;
        }
    }
}

.cpu-gauge {
    position: absolute;
    font-size: 20px;
    bottom: 40px;
    width: 100%;
    text-align: center;
    line-height: 0.7;
    span {
        font-size: 10px;
        text-transform: uppercase;
    }
}




// Network Information
.wg-wrapper.flex {
    display: flex; flex-direction: column; align-items: center;
}
.info-box {
    flex: 1; padding: 10px 0; position: relative; width: 100%;
}
.info-item {
    display: inline-block; width: 33%; text-align: center; padding: 0 10px; color: #777; font-size: 12px;
}
.info-item span {
    font-size: 24px; color: #333;
}
.info-actions {
    margin: 10px;
    text-align: center; display: flex; flex-direction: row;
}

.wg-wrapper.resources .info-box p {
    font-size: 14px; display: inline-block; font-weight: 300; color: #777;
}
.wg-wrapper.resources .info-box .donut {
    width: 80px; height: 80px; position: relative; float: right;
}
.wg-wrapper.resources .info-box .donut span {
    position: absolute; display: block; line-height: 80px; text-align: center; top: 0; left: 0; bottom: 0; right: 0; font-size: 24px; font-weight: 300; color: coral;
}

.wg-wrapper.resources .info-box .chart {
    width: 80px; height: 80px;
}



.wg-button {
    background-color: #3DA8EB;
    height: 28px;
    line-height: 28px;
    color: #FFF;
    margin: 0 5px;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out .15s;
    &:hover {
        background-color: rgba(61,186,235,.85);
    }
    &:active {
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
    }
}


.net-layout {
    .line {
        width: 100%;
        height: 18px;
        background-color: #E1B505;
        border-radius: 9px;
    }
    .ifaces {
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .iface {
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        margin-top: 10px;
        .speeds {
            display: inline-block;
            text-align: left;
            line-height: 1;
        }
        .name {
            font-weight: 600;
            margin: 5px 0;
            padding-left: 5px;
        }
        i {
            //width: 12px;
            height: 10px;
            font-size: 20px;
        }
        span {
            font-size: 10px;
            vertical-align: middle;
        }
        .speed_up i {
            color: green;
            line-height: 10px;
        }
        .speed_down i {
            color: red;
            line-height: 10px;
        }

        .pointer {
            position: absolute;
            top: -12px;
            left: 0;
            bottom: auto;
            margin-left: -5px;
            z-index: 10;
            font-size: 36px;
            width: 100%;
            height: 10px;
            line-height: 10px;
            color: #e1b505;
        }


        &.wan {
            margin-top: auto;
            margin-bottom: 10px;
            .pointer {
                top: auto;
                bottom: -12px;
                transform: rotate(180deg);
            }
        }
    }
    .devices {
        text-align: center;
    }
}


.widget .exception {
    top: 46px !important;
    left: 0 !important;
    right: 0 !important;
    height: 250px;
    padding-top: 50px;
    box-sizing: border-box;
    background: #FFF;
    text-align: center;
    h3 {
        color: red;
        font-size: 16px;
        font-weight: 100;
        span {
            vertical-align: middle;
        }
    }
}


.widget-manager {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    .x-grid-row.disabled {
        color: #555;
        i {
            //color: #999;
        }
    }
    .x-grid-cell-inner {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 13px;
        padding: 5px 6px 3px;
        i {
            font-size: 20px;
            // height: auto;
            cursor: pointer;
            padding-top: 3px;
        }
    }

    .x-grid-cell-inner-action-col {
        padding-top: 5px;
        height: 35px;
    }

    .x-grid-cell-last {
        i {
            opacity: 0;
            transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:hover i {
            color: #333 !important;
        }
    }

    .x-grid-item-over .x-grid-cell-last i {
        opacity: 1;
    }


    .drag-handle {
        background: url(/root/drag-handle.png) no-repeat center right;
        cursor: move;
        opacity: 0;
        transition: opacity .3s cubic-bezier(0.23, 1, 0.32, 1);
        .x-grid-cell-inner {
            padding: 0;
        }
    }

    .x-grid-item-over {
        .drag-handle {
            opacity: 1;
        }
    }
}

.menu-icon {
    background-size: contain;
}

