@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.eot');
  src: url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Condensed Light'),
       local('Roboto-Condensed-300'),
       url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.woff2') format('woff2'),
       url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.woff') format('woff'),
       url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.ttf') format('truetype'),
       url('../fonts/Roboto-Condensed-300/Roboto-Condensed-300.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot');
  src: url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto Condensed'),
       local('Roboto-Condensed-regular'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff2') format('woff2'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff') format('woff'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.ttf') format('truetype'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot');
  src: url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Condensed Bold'),
       local('Roboto-Condensed-700'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff2') format('woff2'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff') format('woff'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.ttf') format('truetype'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.svg#RobotoCondensed') format('svg');
}

