dist/*
staging/*
taskstamps.txt
downloads/output
*~
\#*#
.#*
build-arch-stamp
build-indep-stamp
configure-stamp
debian/files
debian/untangle-base-clam/
debian/untangle-base-spam-blocker.debhelper.log
debian/untangle-base-spam-blocker.substvars
debian/untangle-base-spam-blocker/
debian/untangle-base-virus-blocker.debhelper.log
debian/untangle-base-virus-blocker.substvars
debian/untangle-base-virus-blocker/
debian/untangle-base-web-filter.debhelper.log
debian/untangle-base-web-filter.substvars
debian/untangle-base-web-filter/
debian/untangle-app-ftp.debhelper.log
debian/untangle-app-ftp.substvars
debian/untangle-app-ftp/
debian/untangle-app-http.debhelper.log
debian/untangle-app-http.substvars
debian/untangle-app-http/
debian/untangle-app-smtp.debhelper.log
debian/untangle-app-smtp.substvars
debian/untangle-app-smtp/
debian/untangle-libuvm.debhelper.log
debian/untangle-libuvm.substvars
debian/untangle-libuvm/
debian/untangle-libuvmcore.debhelper.log
debian/untangle-libuvmcore.substvars
debian/untangle-libuvmcore/
debian/untangle-libuvmthirdparty.debhelper.log
debian/untangle-libuvmthirdparty.substvars
debian/untangle-libuvmthirdparty/
debian/untangle-app-ad-blocker.debhelper.log
debian/untangle-app-ad-blocker.substvars
debian/untangle-app-ad-blocker/
debian/untangle-app-application-control-lite.debhelper.log
debian/untangle-app-application-control-lite.substvars
debian/untangle-app-application-control-lite/
debian/untangle-app-captive-portal.debhelper.log
debian/untangle-app-captive-portal.substvars
debian/untangle-app-captive-portal/
debian/untangle-app-firewall.debhelper.log
debian/untangle-app-firewall.substvars
debian/untangle-app-firewall/
debian/untangle-app-intrusion-prevention.debhelper.log
debian/untangle-app-intrusion-prevention.substvars
debian/untangle-app-intrusion-prevention/
debian/untangle-app-openvpn.debhelper.log
debian/untangle-app-openvpn.substvars
debian/untangle-app-openvpn/
debian/untangle-app-phish-blocker.debhelper.log
debian/untangle-app-phish-blocker.substvars
debian/untangle-app-phish-blocker/
debian/untangle-app-reports.debhelper.log
debian/untangle-app-reports.substvars
debian/untangle-app-reports/
debian/untangle-app-router.debhelper.log
debian/untangle-app-router.substvars
debian/untangle-app-router/
debian/untangle-app-shield.debhelper.log
debian/untangle-app-shield.substvars
debian/untangle-app-shield/
debian/untangle-app-spam-blocker-lite.debhelper.log
debian/untangle-app-spam-blocker-lite.substvars
debian/untangle-app-spam-blocker-lite/
debian/untangle-app-virus-blocker-lite.debhelper.log
debian/untangle-app-virus-blocker-lite.substvars
debian/untangle-app-virus-blocker-lite/
debian/untangle-app-web-monitor.debhelper.log
debian/untangle-app-web-monitor.substvars
debian/untangle-app-web-monitor/
debian/untangle-pyconnector.init
debian/untangle-vm.debhelper.log
debian/untangle-vm.init
debian/untangle-vm.substvars
debian/untangle-vm/
GPATH
GRTAGS
GSYMS
GTAGS
core