
*{
  margin:0;
  padding:0;
}

body {
  background:#6495ED;
  padding: 10;
}

table.outertable {
  background:#FFFFFF;
  padding: 0;
  margin: 0;  
}

.logoTable {
  padding-left: 15; 
  padding-top: 15;
}

table.intro {
  padding-left: 10;
  padding-top: 15;
}

table.introUserInfo {
  padding-left: 10;
  text-align: right;
}

.infotext {
  color: #372F2F;
  padding-left: 10;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 10;
}

table.actions {
  margin: 0;
  padding: 0;
  color: #FFFFFF
}

table.actions tbody TD {
  background-color: #003399;
  padding: 15;
}

table.actions tbody TD + TD {
  background-color: #003399;
  text-align: right;
  padding-right: 10;
}

.msiehack1 {
  background-color: #003399;
  text-align: right;
  padding-right: 10;
}
.msiehack2 {
  background-color: #003399;
  text-align: left;
  padding-left: 10;
}

table.actions a {
  color: #FFFFFF;
}
table.actions a:visited {
  color: #CCFFFF;
}
table.actions a:hover {
  color: #33FFFF;
}
table.actions a:active {
  color: #FF0000;
}

.errortext {
  font:  normal 20 Geneva,Arial; color: #FF0000;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

.messageText {
  font:  normal 20 Geneva,Arial; color: #339999;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

table.inbox {
  border-collapse: collapse;
  margin: 0;
  padding: 0;

}

table.inbox th, table.inbox td {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  padding: 0.6em;
  vertical-align: 4px;
}

table.inbox th {
  text-align: left;
  text-transform: uppercase;
}

table.inbox tbody td.first {
  text-align: left;
  padding-left: 20;
}

table.inbox thead th, table.inbox tfoot th, table.inbox tfoot td {
  background-color: #33CCFF;
}

table.inbox thead th.first {
  padding-left: 24px;
}

table.inbox tbody th {
  padding-left: 24px;
}

table.inbox tr.even td, table.inbox tr.even th {
  background-color:#eee;
}

table.inbox tr.odd td, table.inbox tr.odd th {
  background-color: #ddd;
}

table.inbox tbody a {
  color: #333;
}

table.inbox tbody a:visited {
  color: #999999;
}

table.inbox tbody a:hover {
  color: #33c;
}

table.inbox tbody a:active {
  color: #33c;
}

table.inbox tfoot th {
  text-align: right;
}

table.inbox tfoot th:after {
  content: ":";
}

.enteremail {
  border-style: solid;
  border-width: thin;
  padding: 20;
  background: #D0D0D0;
}

.smallLogo {
  font:  normal 12 arial, helvetica, sans serif;
  text-align: center;
  padding-top: 30;
  padding-bottom: 30;
}
