table.outertable {
  background:#FFFFFF;
  padding: 0;
  margin: 0;
  /* Note the magic trick below to center the table */
  width: 96%;
  height: 95%;
  margin-left:2%;
  margin-right:2%;
  margin-top:1%;
  margin-bottom:4%;
}

.logoTable {
  padding-left: 15; 
  padding-top: 15;
}

table.intro {
  padding-left: 10;
  padding-top: 15;
}

table.introUserInfo {
  padding-left: 10;
  text-align: right;
}

.infotext {
  color: #372F2F;
  padding-left: 10;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 10;
}

table.actions {
  margin: 0;
  padding: 0;
  color: #FFFFFF
}

table.actions tbody TD {
  background-color: #34609B;
  padding: 15;
}

table.actions tbody TD + TD {
  background-color: #34609B;
  text-align: right;
  padding-right: 10;
}

.tableFooter {
  text-align: right;
  padding-right: 10;
}

.msiehack1 {
  background-color: #34609B;
  text-align: right;
  padding-right: 10;
}
.msiehack2 {
  background-color: #34609B;
  text-align: left;
  padding-left: 10;
}

table.actions a {
  color: #FFFFFF;
}
table.actions a:visited {
  color: #CCFFFF;
}
table.actions a:hover {
  color: #33FFFF;
}
table.actions a:active {
  color: #FF0000;
}

.errortext {
  font:  normal 20 Arial,Geneva; color: #FF0000;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

.messageText {
  font:  normal 20 Arial,Geneva; color: #00ff00;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

table.topofsl {
  border-collapse: collapse;
  border-style:  solid;
  border-width: 1;
  border-color: #666;
  width: 98%;
  margin-left:1%;
  margin-right:1%;
  background-color: #34609B;  
}



table.slist {
  border-collapse: collapse;
  border-style:  solid;
  border-width: 1;
  border-color: #666;
  width: 98%;
  margin-left:1%;
  margin-right:1%;
}

table.slist th, table.slist td {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  padding: 0.6em;
  vertical-align: 4px;
}

table.slist th {
  text-align: left;
  text-transform: uppercase;
}

table.slist tbody td.first {
  text-align: left;
  padding-left: 20;
}

table.slist thead th {
  background-color: #E0E0E0;
  border-left: 1px solid #666;
}

table.slist table.slist tfoot th, table.slist tfoot td {
  background-color: #E0E0E0;
}

table.slist thead th.first {
  padding-left: 24px;
}

table.slist tbody th {
  padding-left: 24px;
}

table.slist tr.even td, table.slist tr.even th {
  background-color:#C1C1CE;
}

table.slist tr.odd td, table.slist tr.odd th {
  background-color: #B7B7C4;
}












table.inbox {
  border-collapse: collapse;
  margin: 0;
  padding: 0;

}

table.inbox th, table.inbox td {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  padding: 0.6em;
  vertical-align: 4px;
}

table.inbox th {
  text-align: left;
  text-transform: uppercase;
}

table.inbox tbody td.first {
  text-align: left;
  padding-left: 20;
}

table.inbox thead th, table.inbox tfoot th, table.inbox tfoot td {
  background-color: #E0E0E0;
}

table.inbox thead th.first {
  padding-left: 24px;
}

table.inbox tbody th {
  padding-left: 24px;
}

table.inbox tr.even td, table.inbox tr.even th {
  background-color:#eee;
}

table.inbox tr.odd td, table.inbox tr.odd th {
  background-color: #ddd;
}

table.inbox tbody a {
  color: #333;
}

table.inbox tbody a:visited {
  color: #999999;
}

table.inbox tbody a:hover {
  color: #33c;
}

table.inbox tbody a:active {
  color: #33c;
}

table.inbox tfoot th {
  text-align: right;
}

table.inbox tfoot th:after {
  content: ":";
}

.enteremail {
  border-style: solid;
  border-width: 1;
  padding: 20;
  background: #D0D0D0;
  border-color: #000000;
}

.msiehack3 {
  padding: 20;
}

.smallLogo {
  font:  normal 12 arial, helvetica, sans serif;
  text-align: center;
  padding-top: 30;
  padding-bottom: 30;
  height: 100%;
  vertical-align: bottom;
}











body {
     margin: 15px;
     background: #FFFFFF url(../images/background_body.gif) repeat-x top left;
     text-align: center;
}  

table {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}

input {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}

form {
    margin: 0px;
}


a:link, a:visited {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    color: #1997FE;
    text-decoration: none;
}

a:hover {
    color: #1997FE;
    text-decoration: underline;
}

.page_header_title {
    font: bold normal normal 25pt Arial,Sans-Serif;
    color: #777777;
}

.page_sub_title {
    font: bold normal normal 17pt Arial,Sans-Serif;
    color: #777777;
}


.page_header_alternate {
    font: normal normal normal 20pt Arial,Sans-Serif;
    color: #777777;
}

h1 {
    font: normal normal bold 11pt Arial,Sans-Serif;
    color: #999999;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font: normal normal bold 10pt Arial,Sans-Serif;
    color: #999999;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font: normal normal bold 11pt Arial,Sans-Serif;
    color: #606060;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h4 {
    font: normal normal bold 14pt Arial,Sans-Serif;
    color: #0044D7;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

/* the following pertain to the main content (i.e. the main 'metal-brushed') table */
#table_main_center {
    background: url(../images/background_table_main_center.gif) repeat-y;
}

#table_main_top {
    background: url(../images/background_table_main_top.gif) repeat-x;
}

#table_main_top_left {
    background: url(../images/rounded_corner_main_top_left.gif) no-repeat;
}

#table_main_top_right {
    background: url(../images/rounded_corner_main_top_right.gif) no-repeat;
}

#table_main_right {
    background: url(../images/background_table_main_right.gif) repeat-y;
}

#table_main_bottom {
    background: url(../images/background_table_main_bottom.gif) repeat-x;
}

#table_main_bottom_left {
    background: url(../images/rounded_corner_main_bottom_left.gif) no-repeat;
}

#table_main_bottom_right {
    background: url(../images/rounded_corner_main_bottom_right.gif) no-repeat;
}

#table_main_left {
    background: url(../images/background_table_main_left.gif) repeat-y;
}

hr {
     color: "#969696";
     background-color: "#969696";
}
