<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 * $HeadURL$
 * Copyright (c) 2003-2007 Untangle, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but
 * AS-IS and WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE, TITLE, or
 * NONINFRINGEMENT.  See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
-->

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

  @JSP_PRE_COMPILED_SERVLETS@

  <display-name>Reports</display-name>

  <servlet>
    <servlet-name>CsvDumper</servlet-name>
    <servlet-class>com.untangle.uvm.reports.servlet.CsvServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Installer, this will install a package based on the query string. -->
  <servlet-mapping>
    <servlet-name>CsvDumper</servlet-name>
    <url-pattern>/csv</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>com.untangle.uvm.reports.jabsorb.UtJsonRpcServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.untangle.uvm.servlet.ImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>
</web-app>
