<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- $Id: web.xml 40842 2015-07-31 01:04:35Z dmorris $ -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">

  <display-name>GoogleDrive</display-name>

  <description>
    Google Drive Handler
  </description>
  
  <servlet>
    <servlet-name>GoogleDriveHandler</servlet-name>
    <servlet-class>com.untangle.uvm.GoogleDriveHandler</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GoogleDriveHandler</servlet-name>
    <url-pattern>/gdrive</url-pattern>
  </servlet-mapping>
</web-app>
