##
#*
---------------------------------------------------------------------------

Summary of Objects/variables referenced

$user_email - the user email address (a string)
$inbox_link - to access your spam quarantine

---------------------------------------------------------------
*#
##
##
##
##
##
##
<html>
  <head>
    <title>$i18n_util.tr("Quarantine Digest for {0}", $user_email)</title>
  </head>

  <body>

  <h3>$i18n_util.tr("Quarantine Digest for {0}", $user_email)</h3>

  <a href="$inbox_link">$i18n_util.tr("Click here to access your spam quarantine.")</a>
  <br/>
  $i18n_util.tr("The spam quarantine contains emails that are being held from your email account.")
  <br/>
  $i18n_util.tr("Quarantined emails can be released to your inbox or deleted using the spam quarantine link.")
  
  </body>
</html>
