<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration for Untangle                                     -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.00 2012/04/12 21:57:25 dmorris Exp $ -->

<Configuration>

  <!-- ============================================== -->
  <!-- Appenders                                      -->
  <!-- ============================================== -->
  
  <Appenders>

    <Syslog name="SYSLOG" host="localhost" port="514" protocol="UDP" facility="LOCAL0">
      <!-- <ThresholdFilter level="ALL"/> -->
      <PatternLayout>
	      <pattern>uvm: [%c{1}:%L] %-5p %m%n</pattern>
      </PatternLayout>
    </Syslog>

    <Syslog name="EVENTS" host="localhost" port="514" protocol="UDP" facility="LOCAL5">
      <ThresholdFilter level="ALL"/>
      <PatternLayout>
	      <pattern>%-5p %m%n</pattern>
      </PatternLayout>
    </Syslog>

  </Appenders>

  <Loggers>

    <!-- ============================================== -->
    <!-- Misc Categories                                -->
    <!-- ============================================== -->

    <Logger name="org.apache" level="WARN"></Logger>
    <Logger name="org.jabsorb" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- Untangle Platform Categories                   -->
    <!-- ============================================== -->

    <Logger name="com.untangle.jnetcap" level="WARN"></Logger>
    <Logger name="com.untangle.jvector" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.logging" level="WARN"></Logger>

    <!-- event logs need to have a specific facility -->
    <Logger name="com.untangle.uvm.SyslogManagerImpl" level="ALL" additivity="false">
      <appender-ref ref="EVENTS"/>
    </Logger>

    <!-- normal level for engine and following is INFO -->
    <Logger name="com.untangle.uvm" level="INFO"></Logger>
  
    <!-- ============================================== -->
    <!-- Untangle App/App Categories                    -->
    <!-- ============================================== -->

    <Logger name="com.untangle.app" level="INFO"></Logger>
    <Logger name="com.untangle.app.license" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- Untangle VNET Categories                       -->
    <!-- #      DEBUG           new session debugging   -->
    <!-- #      INFO            each new session        -->
    <!-- #      WARN            excep                   -->
    <!-- ============================================== -->

    <Logger name="com.untangle.uvm.vnet.PipelineConnector" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppTCPSessionImpl" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppUDPSessionImpl" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppSessionImpl" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- The Root Category                              -->
    <!-- ============================================== -->

    <Root level="WARN">
      <AppenderRef ref="SYSLOG"/>
    </Root>

  </Loggers>
</Configuration>

