<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration for Untangle                                     -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.00 2012/04/12 21:57:25 dmorris Exp $ -->
<!-- This file defines the key elements in log4j configuration.
     Configuration is modified dynamically using java code 
     (UvmContextSelector Class) based on app. 
-->

<Configuration>

  <!-- ============================================== -->
  <!-- Appenders                                      -->
  <!-- ============================================== -->
  
  <Appenders>

    <Syslog name="SYSLOG" host="localhost" port="514" protocol="UDP" facility="LOCAL0">
      <!-- <ThresholdFilter level="ALL"/> -->
      <PatternLayout>
        <alwaysWriteExceptions>false</alwaysWriteExceptions>
	      <pattern>uvm: [%c{1}] %-5p %m%n%uvm{uvm}</pattern>
      </PatternLayout>
    </Syslog>

    <Syslog name="EVENTS" host="localhost" port="514" protocol="UDP" facility="LOCAL5">
      <ThresholdFilter level="ALL"/>
      <PatternLayout>
        <alwaysWriteExceptions>false</alwaysWriteExceptions>
	      <pattern>%-5p %m%n%uvm{uvm}</pattern>
      </PatternLayout>
    </Syslog>

  </Appenders>

  <Loggers>

    <!-- ============================================== -->
    <!-- Misc Categories                                -->
    <!-- ============================================== -->

    <Logger name="org.apache" level="WARN"></Logger>
    <Logger name="org.apache.catalina" level="INFO"></Logger>
    <Logger name="org.apache.jk" level="INFO"></Logger>
    <Logger name="org.jabsorb" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- Untangle Platform Categories                   -->
    <!-- ============================================== -->

    <Logger name="com.untangle.jnetcap" level="WARN"></Logger>
    <Logger name="com.untangle.jvector" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.logging" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.snmp" level="INFO"></Logger>

    <!-- event logs need to have a specific facility -->
    <Logger name="com.untangle.uvm.SyslogManagerImpl" level="ALL" additivity="false">
      <appender-ref ref="EVENTS"/>
    </Logger>

    <!-- normal level for engine and following is INFO -->
    <Logger name="com.untangle.uvm" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.PipelineFoundryImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.SettingsManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.AppManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.CertCacheManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.ConfigManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.NetspaceManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.HostsFileManagerImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.HostTableImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.DeviceTableImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.UserTableImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.ConntrackMonitorImpl" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.EventManagerImpl" level="INFO"></Logger>   
    <Logger name="com.untangle.uvm.util.Pulse" level="INFO"></Logger>    
    <Logger name="com.untangle.uvm.networking" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.license" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.UserLicenseMessage" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.util" level="INFO"></Logger>
    <Logger name="com.untangle.app.util" level="INFO"></Logger>
  
    <!-- ============================================== -->
    <!-- Untangle App/App Categories                    -->
    <!-- ============================================== -->

    <Logger name="com.untangle.app" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.app" level="INFO"></Logger>
    <Logger name="com.untangle.app.util" level="INFO"></Logger>
    <Logger name="com.untangle.app.token" level="INFO"></Logger>
    <Logger name="com.untangle.app.router" level="INFO"></Logger>
    <Logger name="com.untangle.app.ad_blocker" level="INFO"></Logger>
    <Logger name="com.untangle.app.directory_connector" level="INFO"></Logger>
    <Logger name="com.untangle.app.bandwidth_control" level="INFO"></Logger>
    <Logger name="com.untangle.app.configuration-backup" level="INFO"></Logger>
    <Logger name="com.untangle.app.branding_manager" level="INFO"></Logger>
    <Logger name="com.untangle.app.captive_portal" level="INFO"></Logger>
    <Logger name="com.untangle.app.application_control" level="INFO"></Logger>
    <Logger name="com.untangle.app.wan_failover" level="INFO"></Logger>
    <Logger name="com.untangle.app.firewall" level="INFO"></Logger>
    <Logger name="com.untangle.app.ftp" level="INFO"></Logger>
    <Logger name="com.untangle.app.http" level="INFO"></Logger>
    <Logger name="com.untangle.app.ssl_inspector" level="INFO"></Logger>
    <Logger name="com.untangle.app.intrusion_prevention" level="INFO"></Logger>
    <Logger name="com.untangle.app.ipsec_vpn" level="INFO"></Logger>
    <Logger name="com.untangle.app.threat_prevention" level="INFO"></Logger>
    <Logger name="com.untangle.app.wireguard_vpn" level="INFO"></Logger>
    <Logger name="com.untangle.app.license" level="WARN"></Logger>
    <Logger name="com.untangle.app.openvpn" level="INFO"></Logger>
    <Logger name="com.untangle.app.tunnel_vpn" level="INFO"></Logger>
    <Logger name="com.untangle.app.phish_blocker" level="INFO"></Logger>
    <Logger name="com.untangle.app.policy_manager" level="INFO"></Logger>
    <Logger name="com.untangle.app.application_control_lite" level="INFO"></Logger>
    <Logger name="com.untangle.app.reports" level="INFO"></Logger>
    <Logger name="com.untangle.app.shield" level="INFO"></Logger>
    <Logger name="com.untangle.app.smtp" level="INFO"></Logger>
    <Logger name="com.untangle.app.spam" level="INFO"></Logger>
    <Logger name="com.untangle.app.spam_blocker" level="INFO"></Logger>
    <Logger name="com.untangle.app.spam_blocker_lite" level="INFO"></Logger>
    <Logger name="com.untangle.app.wan_balancer" level="INFO"></Logger>
    <Logger name="com.untangle.app.live_support" level="INFO"></Logger>
    <Logger name="com.untangle.app.clam" level="INFO"></Logger>
    <Logger name="com.untangle.app.virus" level="INFO"></Logger>
    <Logger name="com.untangle.app.virus_blocker" level="INFO"></Logger>
    <Logger name="com.untangle.app.virus_blocker_lite" level="INFO"></Logger>
    <Logger name="com.untangle.app.web_cache" level="INFO"></Logger>
    <Logger name="com.untangle.app.web_filter" level="INFO"></Logger>
    <Logger name="com.untangle.app.web_monitor" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.app.AppBase" level="INFO"></Logger>  
    <Logger name="com.untangle.app.license" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- Untangle VNET Categories                       -->
    <!-- #      DEBUG           new session debugging   -->
    <!-- #      INFO            each new session        -->
    <!-- #      WARN            excep                   -->
    <!-- ============================================== -->

    <Logger name="com.untangle.uvm.vnet" level="INFO"></Logger>
    <Logger name="com.untangle.uvm.vnet.PipelineConnector" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppTCPSessionImpl" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppUDPSessionImpl" level="WARN"></Logger>
    <Logger name="com.untangle.uvm.AppSessionImpl" level="WARN"></Logger>

    <!-- ============================================== -->
    <!-- The Root Category                              -->
    <!-- ============================================== -->

    <Root level="WARN">
      <AppenderRef ref="SYSLOG"/>
    </Root>

  </Loggers>
</Configuration>

