<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration for Untangle                                     -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.00 2012/04/12 21:57:25 dmorris Exp $ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- ============================================== -->
  <!-- Appenders                                      -->
  <!-- ============================================== -->

  <appender name="UVMLOG" class="org.apache.log4j.net.SyslogAppender">
    <param name="SyslogHost" value="localhost"/>
    <param name="Facility" value="LOCAL0"/>
    <param name="Threshold" value="ALL"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%c{1}] %-5p %m%n"/>
    </layout>
  </appender>

  <appender name="EVENTS" class="org.apache.log4j.net.SyslogAppender">
    <param name="SyslogHost" value="localhost"/>
    <param name="Facility" value="LOCAL5"/>
    <param name="Threshold" value="ALL"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %m%n"/>
    </layout>
  </appender>

  <appender name="NODELOG" class="org.apache.log4j.net.SyslogAppender">
    <param name="SyslogHost" value="localhost"/>
    <param name="Facility" value="LOCAL1"/>
    <param name="Threshold" value="ALL"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="@NodeLogFileName@: [%c{1}] &lt;%X{SessionID}&gt; %-5p %m%n"/>
    </layout>
  </appender>

  <!-- ============================================== -->
  <!-- Misc Categories                                -->
  <!-- ============================================== -->

  <category name="org.apache">
    <priority value="WARN"/>
  </category>

  <category name="org.apache.catalina">
    <priority value="INFO"/>
  </category>

  <category name="org.apache.jk">
    <priority value="INFO"/>
  </category>

  <category name="org.jabsorb">
    <priority value="WARN"/>
  </category>

  <!-- ============================================== -->
  <!-- Untangle Platform Categories                   -->
  <!-- ============================================== -->

  <category name="com.untangle.jnetcap">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.jvector">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.uvm.logging">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.uvm.snmp">
    <priority value="INFO"/>
  </category>

  <!-- event logs need to have a specific facility -->
  <category name="com.untangle.uvm.SyslogManagerImpl" additivity="false">
    <priority value="ALL"/>
    <appender-ref ref="EVENTS"/>
  </category>

  <!-- normal level for engine and following is INFO -->
  <category name="com.untangle.uvm">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.PipelineFoundryImpl">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.SettingsManagerImpl">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.CertCacheManagerImpl">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.HostTableImpl">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.DeviceTableImpl">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.ConntrackMonitorImpl">
    <priority value="INFO"/>
  </category>
  
  <category name="com.untangle.uvm.util.Pulse">
    <priority value="INFO"/>
  </category>
  
  <category name="com.untangle.uvm.networking">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.license">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.util">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.util">
    <priority value="INFO"/>
  </category>

  <!-- ============================================== -->
  <!-- Untangle App/Node Categories                   -->
  <!-- ============================================== -->

  <category name="com.untangle.uvm.node">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.util">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.token">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.router">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.ad_blocker">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.directory_connector">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.bandwidth_control">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.configuration-backup">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.branding_manager">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.captive_portal">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.application_control">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.wan_failover">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.firewall">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.ftp">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.http">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.ssl_inspector">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.intrusion_prevention">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.ipsec_vpn">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.license">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.node.openvpn">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.phish_blocker">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.policy_manager">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.application_control_lite">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.reports">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.shield">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.smtp">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.spam">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.spam_blocker">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.spam_blocker_lite">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.wan_balancer">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.live_support">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.clam">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.virus">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.virus_blocker">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.virus_blocker_lite">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.web_cache">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.web_filter">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node.web_monitor">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.node">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.vnet.NodeBase">
    <priority value="INFO"/>
  </category>

  <!-- ============================================== -->
  <!-- Untangle VNET Categories                       -->
  <!-- #      DEBUG           new session debugging   -->
  <!-- #      INFO            each new session        -->
  <!-- #      WARN            excep                   -->
  <!-- ============================================== -->

  <category name="com.untangle.uvm.vnet">
    <priority value="INFO"/>
  </category>

  <category name="com.untangle.uvm.vnet.PipelineConnector">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.uvm.NodeTCPSessionImpl">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.uvm.NodeUDPSessionImpl">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle.uvm.NodeSessionImpl">
    <priority value="WARN"/>
  </category>


  <!-- ============================================== -->
  <!-- The Root Category                              -->
  <!-- ============================================== -->

  <root>
    <priority value="WARN"/>
    <appender-ref ref="UVMLOG"/>
  </root>
</log4j:configuration>
