#
# Untangle OpenSSL configuration file
#
# The following environment variables are expected to be set:
#   UT_ROOT_PATH = location where the root CA files are stored
#   UT_EXT_MODE = sets the request extensions to be used:
#     reqext_san = include subject alternative names section
#     reqext_nil = omit subject alternative names section
#   UT_SAN_LIST = the list of subject alternative names.  Must be
#   set to something even if not used or openssl will complain:
#     "DNS:www.name.com,IP:1.2.3.4"
#
# The caller must also specify the extensions section to use:
#   v3_root = used when creating the root certificate and key
#   v3_cert = used when creating a certificate to be signed

##############################################################################
[ ca ]
default_ca	= CA_default

##############################################################################
[ CA_default ]

dir		= $ENV::UT_ROOT_PATH	# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
unique_subject	= no			# Set to 'no' to allow creation of
					# several ctificates with same subject.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/untangle.crt	# The CA certificate
serial		= $dir/serial.txt	# The current serial number
crlnumber	= $dir/crlnumber	# the current crl number
					# must be commented out to leave a V1 CRL
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/untangle.key	# The private key
RANDFILE	= $dir/random		# private random number file

x509_extensions	= usr_cert		# The extentions to add to the cert

# Comment out the following two lines for the "traditional"
# (and highly broken) format.
name_opt 	= ca_default		# Subject Name options
cert_opt 	= ca_default		# Certificate field options

# Extension copying option: use with caution.
copy_extensions = copy

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crlnumber must also be commented out to leave a V1 CRL.
# crl_extensions	= crl_ext

default_days	= 7305			# how long to certify for
default_crl_days= 30			# how long before next CRL
default_md	= sha256		# which md to use.
preserve	= no			# keep passed DN ordering

policy		= policy_anything

##############################################################################
[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied

##############################################################################
[ req ]
default_bits		= 2048
default_md		= sha256
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes

# The extentions to add to certificate requests
req_extensions = $ENV::UT_EXT_MODE

# This sets a mask for permitted string types.
# nombstr : PrintableString, T61String (no BMPStrings or UTF8Strings).
string_mask = nombstr

##############################################################################
[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
countryName_default		= AU
countryName_min			= 2
countryName_max			= 2

stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= Some-State

localityName			= Locality Name (eg, city)

0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= Internet Widgits Pty Ltd

# we can do this but it is not needed normally :-)
#1.organizationName		= Second Organization Name (eg, company)
#1.organizationName_default	= World Wide Web Pty Ltd

organizationalUnitName		= Organizational Unit Name (eg, section)
#organizationalUnitName_default	=

commonName			= Common Name (eg, YOUR name)
commonName_max			= 64

emailAddress			= Email Address
emailAddress_max		= 64

# SET-ex3			= SET extension number 3

##############################################################################
[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20

unstructuredName		= An optional company name

##############################################################################
[ usr_cert ]

# These extensions are added when 'ca' signs a request.

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.
basicConstraints=CA:FALSE

# This will be displayed in Netscape's comment listbox.
nsComment			= "Untangle Certificate Authority"

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

##############################################################################
[ reqext_nil ]

# Request extensions when no SAN list is provided

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

##############################################################################
[ reqext_san ]

# Request extensions when a SAN list is provided

basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName=$ENV::UT_SAN_LIST

##############################################################################
[ v3_root ]

# Extensions for the root certificate

subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign

##############################################################################
[ v3_cert ]

# Extensions for a server certificate

subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

