<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">

  <display-name>WebFilter WebApp</display-name>

  <servlet>
    <servlet-name>BlockPageServlet</servlet-name>
    <servlet-class>com.untangle.node.webfilter.BlockPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>

  <servlet>
    <servlet-name>UnblockerServlet</servlet-name>
    <servlet-class>com.untangle.node.webfilter.UnblockerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>

  <servlet-mapping>
    <servlet-name>BlockPageServlet</servlet-name>
    <url-pattern>/blockpage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UnblockerServlet</servlet-name>
    <url-pattern>/unblock</url-pattern>
  </servlet-mapping>

</web-app>
