<?xml version="1.0" encoding="UTF-8"?>
<!--
 * $HeadURL$
 * Copyright (c) 2003-2007 Untangle, Inc. 
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but
 * AS-IS and WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE, TITLE, or
 * NONINFRINGEMENT.  See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Phish WebApp</display-name>

  <servlet>
    <servlet-name>BlockPageServlet</servlet-name>
    <servlet-class>com.untangle.node.phish.BlockPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>

  <servlet>
    <servlet-name>UnblockerServlet</servlet-name>
    <servlet-class>com.untangle.node.phish.UnblockerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>

  @JSP_PRE_COMPILED_SERVLETS@

  <servlet-mapping>
    <servlet-name>BlockPageServlet</servlet-name>
    <url-pattern>/blockpage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UnblockerServlet</servlet-name>
    <url-pattern>/unblock</url-pattern>
  </servlet-mapping>

</web-app>
