@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PTSans.woff) format('woff');
}

.alert-container {
    background: transparent url(../images/admin/icons/icon_alert.gif) no-repeat center center;
    height: 21px;
    width: 25px;
}

.no-ie-container {
    background: transparent url(../images/admin/icons/icon_no_ie.png) no-repeat center center;
    height: 21px;
    width: 25px;
}

.href-icon {
    text-decoration: none;
    display: inline-block;
    width: 16px;
    margin-right: 4px;
}
/* color of a deleted row in grid */
.grid-row-deleted {
    background-color: #FF5151;
}
/* color of an added row in grid */
.grid-row-added {
    background-color: #21FF3A;
}
/* color of a modified row in grid */
.grid-row-modified {
    background-color: #FFB364;
}

.grid-row-added td,.grid-row-deleted td,.grid-row-modified td {
    background-color: transparent;
}
/* app items*/
div.app-item {
    cursor: pointer;
    position: relative;
    float: left;
    height: 79px;
    width: 110px;
    margin: 5px;
}

div.app-item div.app-icon {
    display: block;
    position: relative;
    margin: 2px auto 8px auto;
    border: 2px solid #535355;
    border-radius: 2px;
    padding: 1px;
    width: 48px;
    height: 48px;
}

div.app-item div.app-config-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

div.app-item div.app-icon-install {
    position: absolute;
    right: -9px;
    bottom: -9px;
    width: 15px;
    height: 15px;
}

div.app-item p.app-progress-text {
    margin: 0 2px;
    font-size: 11px;
    line-height: 14px;
}

div.app-item div.app-name {
    display: block;
    height: 32px;
    width: 100%;
    text-align: center;
    color: #4E4C4C;
    font-weight: bold;
    font-size: 12px;
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
}

div.app-item div.app-progress {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 108px;
    height: 30px;
}

/* breadcrumb text */
.breadcrumb-text,.breadcrumb-link {
    font-size: 11px; /* On a base font of 13px works out to 11.05px*/
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    line-height: 14px; /* works out to 14px */
    font-family: Arial, Helvetica, sans-serif;
}
/* breadcrumb link */
.breadcrumb-link {
    color: #20377A;
}

/* Wizard CSS */
body.wizard {
    font-family: Arial, Helvetica, sans-serif;
}

body.wizard .ext-el-mask {
    background-color: #CCCCCC;
}

body.wizard .x-form-item label {
    text-align: right;
}

.small-top-margin {
    margin-top: 1em;
}

body.wizard #container {
    margin: 10px auto;
    position: relative;
}

/* Z-Index required on some browsers. */
.logo-container {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    width: 166px;
    height: 100px;
    overflow: hidden;
}

.wizard-steps {
    padding-top: 120px;
    background-color: #e8e8e8;
}

.wizard-steps .step {
    font-size: 12px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 0px;
}

.wizard-steps .nostep {
    padding: 0px 0px 0px 33px;
}

.wizard-steps .completed {
    color: #000000;
}

.wizard-steps .incomplete {
    color: #444;
}

.wizard-steps .current {
    color: #333;
    font-weight: bold;
    background-color: #ffffff;
}

.wizard-steps .count {
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-steps .incomplete .count {
    background: url(../images/admin/wizard/step-incomplete.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .current .count {
    background: url(../images/admin/wizard/step-current.jpg) no-repeat left center;
    color: #444444;
}

.wizard-steps .completed .count {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
}

.step_counter {
    background: url(../images/admin/wizard/step-completed.jpg) no-repeat left center;
    color: #FFFFFF;
    margin: 0px 4px 0px 10px;
    font-size: 11px;
    padding: 2px 6px 2px 5px;
}

.wizard-title {
    margin-bottom: 0.8em;
    padding-top: 5px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.wizard-network-img {
    border: 1px #ccc solid;
}
/* warning message text*/
.warning {
    color: #FF0000;
}

.large-option {
    font-size: 14px;
    font-weight: bold;
}
/* panel content container*/
.ung-panel {
    padding: 5px;
}
/* Ext Js Overrides - across the board */
.x-fieldset {
    padding: 5px 10px 10px 20px;
}

.x-fieldset legend {
    margin-left: -15px;
    color: #111;
}

div.x-column-header-inner {
    text-align: center;
}

.x-fieldset-header-default>.x-fieldset-header-text {
    font-weight: bold;
}

textarea.ua-test-output {
    font-family: Courier, monospace;
    padding: 5px 5px 0px 5px;
}

.boxlabel {
    margin: 3px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.diff-grid .x-grid-cell {
    font-family: Courier, monospace;
}

a.link,a.link:visited {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.menu-button.x-btn {
    border-radius: 0;
    background-color: #1b1e26;
    border-color: #1b1e26;
    background-image: none;
}

.menu-button .x-btn-wrap {
    height: 40px;
}

.menu-button .x-btn-inner {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #B2B6C0;
}

.menu-button.x-btn.x-btn-pressed,.menu-button.x-btn.x-btn-over {
    border-color: #67bd4a;
    background-color: #67bd4a;
    background-image: none;
}

.menu-button.x-btn-pressed .x-btn-inner,.menu-button.x-btn-over .x-btn-inner {
    color: #ffffff;
}

.action-button.x-btn {
    border-radius: 16px;
    background-color: #67bd4a;
    border-color: #67bd4a;
    background-image: none;
}

.action-button .x-btn-wrap {
    height: 30px;
}

.action-button .x-btn-inner {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}

.action-button.x-btn-over .x-btn-inner {
    color: #1b1e26;
}

a.menu-link,a.menu-link:visited {
    color: #1b1e26;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

a.menu-link.logout,a.menu-link.logout:visited {
    color: #d80909;
}

a.menu-link:hover,a.menu-link.logout:hover {
    color: #67bd4a;
}

.links-menu {
    margin-right: 10px;
    top: 35px;
    float: right;
}
/* Left side container */
.main-menu {
    background-color: #1b1e26;
}

.top-container {
    background-color: white;
    width: 100%;
    height: 88px;
}

.top-title {
    font-size: 18px;
    color: #AAACAE;
}

.policy-selector .x-btn-text {
    text-align: left;
    justify-content: initial;
}

.policy-selector .x-btn-inner {
    font-size: 14px;
    color: #1b1e26;
}