/* Button icons*/
.x-btn .icon-move-mails {
    background-image: url(../images/user/icon_email_move.png);
}

.x-btn .icon-add-row {
    background-image: url(../images/admin/icons/icon_add_row.gif);
}

.x-btn .icon-safe-list {
    background-image: url(../images/user/icon_safelist.png);
}

.x-btn .icon-delete {
    background-image: url(../images/user/icon_remove.png);
}

.x-btn .icon-clear-filter {
    background-image: url(../images/admin/icons/icon_clear_filter.png);
}

.warning-message {
    border: 1px solid #60BB3F;
    padding: 5px 5px 5px 28px;
    background: #FEFEDD url(../images/user/icon_message.png) no-repeat scroll 7px center;
    color: #333;
}