<?xml version="1.0" encoding="UTF-8"?>

<!--
* Copyright (c) 2003-2007 Untangle, Inc.
* All rights reserved.
*
* This software is the confidential and proprietary information of
* Untangle, Inc. ("Confidential Information"). You shall
* not disclose such Confidential Information.
*
* $Id$
-->

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Zimbra stuff -->

  <context-param>
    <param-name>
      javax.servlet.jsp.jstl.fmt.fallbackLocale
    </param-name>
    <param-value>
      en
    </param-value>
  </context-param>
  <context-param>
    <param-name>admin.allowed.ports</param-name>
    <param-value>7071</param-value>
  </context-param>


  <!-- The protocol mode can be one of three modes - mixed, http, or https -->
  <env-entry>
    <env-entry-name>protocolMode</env-entry-name>
    <env-entry-value>http</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <!--
      * The http and httpsPort need to be in sync with the webserver
      * or the proxy - these are the ports that will be used in redirects
  -->
  <env-entry>
    <env-entry-name>httpsPort</env-entry-name>
    <env-entry-value>443</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <env-entry>
    <env-entry-name>httpPort</env-entry-name>
    <env-entry-value>80</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <servlet>
    <servlet-name>Properties2Javascript</servlet-name>
    <servlet-class>com.zimbra.webClient.servlet.Props2JsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Properties2Javascript</servlet-name>
    <url-pattern>/js/msgs/*</url-pattern>
  </servlet-mapping>

  <!-- Untangle stuff -->

  <display-name>Portal</display-name>

  <servlet>
    <servlet-name>FileLister</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.FileLister
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FileLister</servlet-name>
    <url-pattern>/secure/ls</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileGetter</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.FileGetter
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FileGetter</servlet-name>
    <url-pattern>/secure/get/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileSaver</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.FileSaver
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FileSaver</servlet-name>
    <url-pattern>/secure/put/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CommandRunner</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.CommandRunner
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CommandRunner</servlet-name>
    <url-pattern>/secure/exec/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageScaler</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.ImageScaler
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageScaler</servlet-name>
    <url-pattern>/secure/scale/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SmbLogin</servlet-name>
    <servlet-class>
      com.untangle.tran.portal.browser.SmbLogin
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SmbLogin</servlet-name>
    <url-pattern>/secure/login/*</url-pattern>
  </servlet-mapping>

  @JSP_PRE_COMPILED_SERVLETS@

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>user</role-name>
  </security-role>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login/login.jsp</form-login-page>
      <form-error-page>/login/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <welcome-file-list>
    <welcome-file>secure/browser.jsp</welcome-file>
  </welcome-file-list>
</web-app>
