
body {
     margin: 15px;
     background: #FFFFFF url(images/background_body.gif) repeat-x top left;
     text-align: center;
}  

table {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}

input {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}

form {
    margin: 0px;
}

a:link, a:visited {
    font: normal normal normal 10pt/14pt Arial,Sans-Serif;
    color: #1997FE;
    text-decoration: none;
}

a:hover {
    color: #1997FE;
    text-decoration: underline;
}

.page_header_title {
    font: bold normal normal 25pt Arial,Sans-Serif;
    color: #777777;
}

.page_sub_title {
    font: bold normal normal 17pt Arial,Sans-Serif;
    color: #777777;
}


.page_header_alternate {
    font: normal normal normal 20pt Arial,Sans-Serif;
    color: #777777;
}

h1 {
    font: normal normal bold 11pt Arial,Sans-Serif;
    color: #999999;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font: normal normal bold 10pt Arial,Sans-Serif;
    color: #999999;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font: normal normal bold 11pt Arial,Sans-Serif;
    color: #606060;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h4 {
    font: normal normal bold 14pt Arial,Sans-Serif;
    color: #0044D7;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

/* the following pertain to the main content (i.e. the main 'metal-brushed') table */
#table_main_center {
    background: url(images/background_table_main_center.gif) repeat-y;
}

#table_main_top {
    background: url(images/background_table_main_top.gif) repeat-x;
}

#table_main_top_left {
    background: url(images/rounded_corner_main_top_left.gif) no-repeat;
}

#table_main_top_right {
    background: url(images/rounded_corner_main_top_right.gif) no-repeat;
}

#table_main_right {
    background: url(images/background_table_main_right.gif) repeat-y;
}

#table_main_bottom {
    background: url(images/background_table_main_bottom.gif) repeat-x;
}

#table_main_bottom_left {
    background: url(images/rounded_corner_main_bottom_left.gif) no-repeat;
}

#table_main_bottom_right {
    background: url(images/rounded_corner_main_bottom_right.gif) no-repeat;
}

#table_main_left {
    background: url(images/background_table_main_left.gif) repeat-y;
}

hr {
     color: "#969696";
     background-color: "#969696";
}
