body {
 padding: 0px;
 margin: 0px;
 background: #FFFFFF url(/images/background/body.gif) repeat-x top left;
 text-align: center;
}

.page_header_title { 
 font: bold normal normal 25pt Arial,Sans-Serif;
 color: #777777; 
}

.page_sub_title {
 font: bold normal normal 17pt Arial.Sans-Serif;
 color: #777777;
}

table {
 font: 10pt Sans-Serif;
 text-align: left;
 color: #606060;
}

table.main
{
 width: 904px;
 padding: 20px 0px 20px 0px;
}

td.main-top
{
 background: url(/images/background/top.gif) no-repeat;
 height: 23px;
 width: 23px;
}

td.main-middle
{
 background: url(/images/background/middle.gif) repeat;
 padding-left: 20px;
 padding-right: 20px;
}

td.main-bottom
{
 background: url(/images/background/bottom.gif) repeat-x;
 height: 23px;
}

#table_main_center {
 background: url(/images/background/background_table_main_center.gif) repeat;
}

#table_main_top {
 background: url(/images/background/background_table_main_top.gif) repeat-x;
}

#table_main_top_left {
 background: url(/images/background/rounded_corner_main_top_left.gif) no-repeat;
}

#table_main_top_right {
 background: url(/images/background/rounded_corner_main_top_right.gif) no-repeat;
}

#table_main_right {
 background: url(/images/background/background_table_main_right.gif) repeat-y;
}

#table_main_bottom {
 background: url(/images/background/background_table_main_bottom.gif) repeat-x;
}

#table_main_bottom_left {
 background: url(/images/background/rounded_corner_main_bottom_left.gif) no-repeat;
}

#table_main_bottom_right {
 background: url(/images/background/rounded_corner_main_bottom_right.gif) no-repeat;
}

#table_main_left {
 background: url(/images/background/background_table_main_left.gif) repeat-y;
}
