<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- $Id$ -->

<!--
| For more configuration infromation and examples see the Jakarta Log4j
| owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="ALL"/>
    <layout class="com.untangle.mvvm.logging.MvPatternLayout">
      <!-- This is actually the default conversion, so we could leave it out... -->
      <param name="ConversionPattern" value="%D %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${bunnicula.home}/log/server.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="500KB"/>
    <param name="MaxBackupIndex" value="9"/>
    <param name="Threshold" value="ALL"/>
    <layout class="com.untangle.mvvm.logging.MvPatternLayout">
      <!-- This is actually the default conversion, so we could leave it out... -->
      <param name="ConversionPattern" value="%D %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <category name="org.apache.catalina">
    <priority value="WARN"/>
  </category>

  <category name="org.hibernate">
    <priority value="WARN"/>
  </category>

  <category name="com.untangle">
    <priority value="ALL"/>
  </category>

  <root>
    <priority value="ALL"/>
    <appender-ref ref="FILE"/>
  </root>

</log4j:configuration>
