<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- $Id$ -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Quarantine Web App</display-name>

  <servlet>
    <servlet-name>QuarantineMain</servlet-name>
    <servlet-class>com.untangle.node.smtp.web.euv.QuarantineEnduserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>InboxMaintenenceControler</servlet-name>
    <servlet-class>com.untangle.node.smtp.web.euv.InboxMaintenenceControler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>com.untangle.node.smtp.web.euv.UtJsonRpcServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>I18NServlet</servlet-name>
    <servlet-class>com.untangle.node.smtp.web.euv.I18NServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InboxMaintenenceControler</servlet-name>
    <url-pattern>/manageuser</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/request.jspx</welcome-file>
  </welcome-file-list>

  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>I18NServlet</servlet-name>
    <url-pattern>/i18n</url-pattern>
  </servlet-mapping>
  
</web-app>
