<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 * $HeadURL$
 * Copyright (c) 2003-2007 Untangle, Inc. 
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but
 * AS-IS and WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE, TITLE, or
 * NONINFRINGEMENT.  See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Quarantine Web App</display-name>

  <servlet>
    <servlet-name>QuarantineMain</servlet-name>
    <servlet-class>com.untangle.node.mail.web.euv.QuarantineEnduserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>InboxMaintenenceControler</servlet-name>
    <servlet-class>com.untangle.node.mail.web.euv.InboxMaintenenceControler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>com.untangle.node.mail.web.euv.UtJsonRpcServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>I18NServlet</servlet-name>
    <servlet-class>com.untangle.node.mail.web.euv.I18NServlet</servlet-class>
  </servlet>
  

  
<!--
Automatically created by Apache Jakarta Tomcat JspC.
Place this fragment in the web.xml before all icon, display-name,
description, distributable, and context-param elements.
-->

    <servlet>
        <servlet-name>com.untangle.node.mail.quarantine.jsp.TryLater_jsp</servlet-name>
        <servlet-class>com.untangle.node.mail.quarantine.jsp.TryLater_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.untangle.node.mail.quarantine.jsp.TryLater_jsp</servlet-name>
        <url-pattern>/TryLater.jsp</url-pattern>
    </servlet-mapping>

<!--
All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.
-->


  <servlet-mapping>
    <servlet-name>InboxMaintenenceControler</servlet-name>
    <url-pattern>/manageuser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>InboxMaintenenceControlerNew</servlet-name>
    <url-pattern>/manageuserNew</url-pattern>
  </servlet-mapping>



  <welcome-file-list>
    <welcome-file>/request.jspx</welcome-file>
  </welcome-file-list>

  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>I18NServlet</servlet-name>
    <url-pattern>/i18n</url-pattern>
  </servlet-mapping>
  
</web-app>
