Source: untangle-vm
Section: net
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: untangle-development-build, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-libuvmcore
Architecture: any
Depends: ${misc:Depends}, ${misc:Depends}
Description: Untangle Core Library
 Untangle Core Library files.

Package: untangle-app-ftp
Architecture: all
Conflicts: untangle-casing-ftp
Replaces: untangle-casing-ftp
Provides: untangle-casing-ftp
Depends: ${misc:Depends}, untangle-vm
Description: The FTP Casing
 The FTP Casing Application

Package: untangle-app-http
Architecture: all
Conflicts: untangle-casing-http
Replaces: untangle-casing-http
Provides: untangle-casing-http
Depends: ${misc:Depends}, untangle-vm
Description: The HTTP Casing
 The HTTP Casing Application

Package: untangle-app-smtp
Architecture: all
Conflicts: untangle-casing-smtp
Replaces: untangle-casing-smtp
Provides: untangle-casing-smtp
Depends: ${misc:Depends}, untangle-vm, python
Description: The SMTP Casing
 The SMTP Casing Application.

Package: untangle-app-shield
Architecture: all
Conflicts: untangle-node-shield
Replaces: untangle-node-shield
Provides: untangle-node-shield
Depends: ${misc:Depends}, untangle-vm, python3
Description: Shield application
 The Shield application.

Package: untangle-app-license
Architecture: all
Conflicts: untangle-node-license
Replaces: untangle-node-license
Provides: untangle-node-license
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm
Description: The Untangle License Manager
 Untangle License Manager.

Package: untangle-app-web-cache
Architecture: all
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, untangle-squid-config
Conflicts: untangle-node-web-cache
Replaces: untangle-node-web-cache
Provides: untangle-node-web-cache
Description: Web Cache
 The Web Cache application.

Package: untangle-app-webroot
Architecture: all
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Description: Web Root
 The Web Root application.

Package: untangle-app-wan-failover
Architecture: all
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, traceroute
Conflicts: untangle-node-wan-failover
Replaces: untangle-node-wan-failover
Provides: untangle-node-wan-failover
Description: WAN Failover
 The WAN Failover application.

Package: untangle-app-wan-balancer
Architecture: all
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Conflicts: untangle-node-wan-balancer
Replaces: untangle-node-wan-balancer
Provides: untangle-node-wan-balancer
Description: WAN Balancer
 The WAN Balancer application.

Package: untangle-app-virus-blocker
Architecture: all
Conflicts: untangle-node-virus-blocker
Replaces: untangle-node-virus-blocker
Provides: untangle-node-virus-blocker
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-base-virus-blocker, untangle-bdamserver | untangle-kernel-modules-stretch-armel | untangle-kernel-modules-stretch-armhf | untangle-kernel-modules-stretch-arm64, untangle-app-http, untangle-app-ftp, untangle-app-smtp, untangle-app-license
Description: Virus Blocker
 The Virus Blocker application.

Package: untangle-app-ssl-inspector
Architecture: all
Conflicts: untangle-casing-ssl-inspector
Replaces: untangle-casing-ssl-inspector
Provides: untangle-casing-ssl-inspector
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Description: SSL Casing
 The SSL Casing Application

Package: untangle-app-spam-blocker
Architecture: all
Conflicts: untangle-node-spam-blocker
Replaces: untangle-node-spam-blocker
Provides: untangle-node-spam-blocker
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-spamcatd, untangle-app-license, untangle-base-spam-blocker, untangle-app-smtp, untangle-spamassassin-update
Description: Spam Blocker
 The Spam Blocker application.

Package: untangle-app-policy-manager
Architecture: all
Conflicts: untangle-node-policy-manager
Replaces: untangle-node-policy-manager
Provides: untangle-node-policy-manager
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Description: The Untangle Policy Manager
 Untangle Policy Manager.

Package: untangle-app-live-support
Architecture: all
Conflicts: untangle-node-live-support
Replaces: untangle-node-live-support
Provides: untangle-node-live-support
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Description: Live Support
 The Live Support application.

Package: untangle-app-ipsec-vpn
Architecture: all
Conflicts: untangle-node-ipsec-vpn
Replaces: untangle-node-ipsec-vpn
Provides: untangle-node-ipsec-vpn
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, xl2tpd, python-netaddr, libstrongswan, libstrongswan-standard-plugins, libstrongswan-extra-plugins, strongswan, strongswan-charon, strongswan-ike, strongswan-ikev1, strongswan-ikev2, strongswan-libcharon, strongswan-starter, libcharon-extra-plugins
Description: IPsec VPN
 The IPsec VPN application

Package: untangle-app-directory-connector
Architecture: all
Conflicts: untangle-node-directory-connector, libradius1, radiusclient1
Replaces: untangle-node-directory-connector
Provides: untangle-node-directory-connector
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, libfreeradius-dev, freeradius-common, untangle-google-connector, xvfb
Description: The Untangle Directory Connector
 The Untangle Directory Connector.

Package: untangle-app-configuration-backup
Architecture: all
Conflicts: untangle-node-configuration-backup
Replaces: untangle-node-configuration-backup
Provides: untangle-node-configuration-backup
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, curl, untangle-app-license
Description: Configuration Backup
 The Configuration Backup application.

Package: untangle-app-branding-manager
Architecture: all
Conflicts: untangle-node-branding-manager
Replaces: untangle-node-branding-manager
Provides: untangle-node-branding-manager
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, netpbm
Description: The Untangle Branding Manager
 The Untangle Branding Manager application.

Package: untangle-app-bandwidth-control
Architecture: all
Conflicts: untangle-node-bandwidth-control
Replaces: untangle-node-bandwidth-control
Provides: untangle-node-bandwidth-control
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license
Description: Bandwidth Control
 The Bandwidth Control application.

Package: untangle-app-application-control
Architecture: all
Conflicts: untangle-node-application-control
Replaces: untangle-node-application-control
Provides: untangle-node-application-control
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-license, untangle-classd
Description: Application Control
 The Application Control application

Package: untangle-app-web-filter
Architecture: all
Conflicts: untangle-node-web-filter
Replaces: untangle-node-web-filter
Provides: untangle-node-web-filter
Section: non-free/net
Depends: ${misc:Depends}, untangle-vm, untangle-app-http, untangle-base-web-filter, untangle-app-license, untangle-bctid, untangle-app-webroot
Description: Web Filter
 The Web Filter application.

Package: untangle-app-web-monitor
Architecture: all
Conflicts: untangle-node-web-monitor
Replaces: untangle-node-web-monitor
Provides: untangle-node-web-monitor
Depends: ${misc:Depends}, untangle-vm, untangle-app-http, untangle-base-web-filter, untangle-bctid, untangle-app-webroot
Description: Web Monitor
 The Web Monitor application.

Package: untangle-app-virus-blocker-lite
Architecture: all
Conflicts: untangle-node-virus-blocker-lite
Replaces: untangle-node-virus-blocker-lite
Provides: untangle-node-virus-blocker-lite
Depends: ${misc:Depends}, untangle-vm, untangle-base-virus-blocker, untangle-clamav-config, untangle-app-http, untangle-app-ftp, untangle-app-smtp
Description: Virus Blocker Lite
 The Virus Blocker Lite application.

Package: untangle-app-application-control-lite
Architecture: all
Conflicts: untangle-node-application-control-lite
Replaces: untangle-node-application-control-lite
Provides: untangle-node-application-control-lite
Depends: ${misc:Depends}, untangle-vm
Description: Application Control Lite
 The Application Control Lite application.

Package: untangle-app-router
Architecture: all
Conflicts: untangle-node-router
Replaces: untangle-node-router
Provides: untangle-node-router
Depends: ${misc:Depends}, untangle-vm, dnsmasq, untangle-app-ftp
Description: Router application
 The Router application.

Package: untangle-app-firewall
Architecture: all
Conflicts: untangle-node-firewall
Replaces: untangle-node-firewall
Provides: untangle-node-firewall
Depends: ${misc:Depends}, untangle-vm
Description: Firewall application
 The Firewall application.

Package: untangle-app-threat-prevention
Architecture: all
Conflicts: untangle-node-threat-prevention
Replaces: untangle-node-threat-prevention
Provides: untangle-node-threat-prevention
Depends: ${misc:Depends}, untangle-vm, untangle-app-http, untangle-app-license, untangle-bctid, untangle-app-webroot
Description: Threat Prevention application
 The Threat Prevention application.

Package: untangle-app-spam-blocker-lite
Architecture: all
Conflicts: untangle-node-spam-blocker-lite
Replaces: untangle-node-spam-blocker-lite
Provides: untangle-node-spam-blocker-lite
Depends: ${misc:Depends}, untangle-vm, untangle-base-spam-blocker, untangle-app-smtp, untangle-spamassassin-update
Description: Spam Blocker Lite
 The Spam Blocker Lite application.

Package: untangle-app-phish-blocker
Architecture: all
Conflicts: untangle-node-phish-blocker
Replaces: untangle-node-phish-blocker
Provides: untangle-node-phish-blocker
Depends: ${misc:Depends}, untangle-vm, untangle-base-spam-blocker, untangle-clamav-config, untangle-app-smtp
Description: Phish Blocker
 The Phish Blocker application.

Package: untangle-app-openvpn
Architecture: all
Conflicts: untangle-node-openvpn
Replaces: untangle-node-openvpn
Provides: untangle-node-openvpn
Depends: ${misc:Depends}, untangle-vm, untangle-nsis-addons, openssl, openvpn, python
Description: OpenVPN application
 The OpenVPN application.

Package: untangle-app-tunnel-vpn
Architecture: all
Depends: ${misc:Depends}, untangle-vm, openvpn, python3
Description: Tunnel VPN
 The Tunnel VPN application.

Package: untangle-app-intrusion-prevention
Architecture: all
Conflicts: untangle-node-intrusion-prevention
Replaces: untangle-node-intrusion-prevention
Provides: untangle-node-intrusion-prevention
Depends: ${misc:Depends}, untangle-vm, untangle-suricata-config, python, python3-ruamel.yaml
Description: Intrusion Prevention
 The Intrusion Prevention application.

Package: untangle-app-reports
Architecture: all
Conflicts: untangle-node-reports
Replaces: untangle-node-reports
Provides: untangle-node-reports
Depends: ${misc:Depends}, untangle-vm, untangle-database-config, python
Description: Reports application
 The Reports application.

Package: untangle-app-ad-blocker
Architecture: all
Conflicts: untangle-node-ad-blocker
Replaces: untangle-node-ad-blocker
Provides: untangle-node-ad-blocker
Depends: ${misc:Depends}, untangle-vm, untangle-app-http
Description: Ad Blocker
 The Ad Blocker application.

Package: untangle-app-captive-portal
Architecture: all
Conflicts: untangle-node-captive-portal
Replaces: untangle-node-captive-portal
Provides: untangle-node-captive-portal
Depends: ${misc:Depends}, untangle-vm, untangle-app-http
Description: Captive Portal
 The Captive Portal application.

Package: untangle-base-virus-blocker
Architecture: all
Depends: ${misc:Depends}, untangle-vm, untangle-app-http, untangle-app-smtp
Description: Virus Blocker Base
 The Virus Blocker Base.

Package: untangle-base-spam-blocker
Architecture: all
Depends: ${misc:Depends}, untangle-vm, untangle-app-smtp
Description: Spam Blocker Base
 The Spam Blocker Base.

Package: untangle-base-web-filter
Architecture: all
Conflicts: untangle-node-web-filter (<= 12.2.0~vcs2016~)
Depends: ${misc:Depends}, untangle-vm, untangle-app-http
Description: Web Filter Base
 The Web Filter Base.

Package: untangle-libuvmthirdparty
Architecture: all
Description: UVM Platform third-party libraries
 The UVM Platform third-party libraries.

Package: untangle-vm
Architecture: all
Conflicts: untangle-libnetfilter-queue-dev, untangle-libnetfilter-queue0
Depends: ${misc:Depends},
	 ipset,
	 python,
	 python3,
	 systemd-sysv,
         untangle-development-runtime,
	 untangle-libuvm,
         untangle-libuvmcore,
         untangle-libuvmthirdparty,
	 untangle-sync-settings,
	 untangle-python3-runtests,
	 unzip,
         zip
Description: UVM Platform
 The UVM Platform itself.

Package: untangle-libuvm
Architecture: all
Description: UVM Platform libraries
 The UVM Platform libraries.
