Source: untangle-vm
Section: net
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: untangle-development-build
Standards-Version: 3.8.0

Package: untangle-libuvmcore
Architecture: any
Depends: ${misc:Depends}, libc6 (>= 2.3.2), libnetfilter-queue1 (>= 1.0.2+20141023+git329468), libnetfilter-conntrack3 (>= 1.0.4), gawk
Description: Untangle Core Library
 Untangle Core Library files.

Package: untangle-casing-ftp
Architecture: all
Depends: untangle-vm
Description: The FTP Casing
 The FTP Casing Application

Package: untangle-casing-http
Architecture: all
Depends: untangle-vm
Description: The HTTP Casing
 The HTTP Casing Application

Package: untangle-casing-smtp
Architecture: all
Depends: untangle-vm
Description: The SMTP Casing
 The SMTP Casing Application.

Package: untangle-node-shield
Architecture: all
Depends: untangle-vm
Description: Shield
 The Shield application.

Package: untangle-node-license
Architecture: all
Section: non-free/net
Depends: untangle-vm
Description: The Untangle License Manager
 Untangle License Manager.

Package: untangle-node-web-cache
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license, untangle-squid-config
Conflicts: untangle-node-webcache
Replaces: untangle-node-webcache
Provides: untangle-node-webcache
Description: Web Cache
 The Web Cache application.

Package: untangle-node-wan-failover
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license, traceroute
Conflicts: untangle-node-faild
Replaces: untangle-node-faild
Provides: untangle-node-faild
Description: WAN Failover
 The WAN Failover application.

Package: untangle-node-wan-balancer
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license
Conflicts: untangle-node-splitd
Replaces: untangle-node-splitd
Provides: untangle-node-splitd
Description: WAN Balancer
 The WAN Balancer application.

Package: untangle-node-virus-blocker
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-base-virus-blocker, untangle-bdamserver | untangle-kernel-modules-jessie-armel | untangle-kernel-modules-jessie-armhf, untangle-casing-http, untangle-casing-ftp, untangle-casing-smtp, untangle-node-license
Conflicts: untangle-node-virusblocker
Replaces: untangle-node-virusblocker
Provides: untangle-node-virusblocker
Description: Virus Blocker
 The Virus Blocker application.

Package: untangle-casing-ssl-inspector
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license
Conflicts: untangle-casing-https
Replaces: untangle-casing-https
Provides: untangle-casing-https
Description: SSL Casing
 The SSL Casing Application

Package: untangle-node-spam-blocker
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-spamcatd, untangle-node-license, untangle-base-spam-blocker, untangle-casing-smtp, untangle-spamassassin-update
Conflicts: untangle-node-spamblocker
Replaces: untangle-node-spamblocker
Provides: untangle-node-spamblocker
Description: Spam Blocker
 The Spam Blocker application.

Package: untangle-node-policy-manager
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license
Conflicts: untangle-node-policy
Replaces: untangle-node-policy
Provides: untangle-node-policy
Description: The Untangle Policy Manager
 Untangle Policy Manager.

Package: untangle-node-live-support
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license
Conflicts: untangle-node-support
Replaces: untangle-node-support
Provides: untangle-node-support
Description: Live Support
 The Live Support application.

Package: untangle-node-ipsec-vpn
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license, xl2tpd, python-netaddr, libstrongswan, libstrongswan-standard-plugins, libstrongswan-extra-plugins, strongswan, strongswan-charon, strongswan-ike, strongswan-ikev1, strongswan-ikev2, strongswan-libcharon, strongswan-starter, libcharon-extra-plugins
Conflicts: untangle-node-ipsec
Replaces: untangle-node-ipsec
Provides: untangle-node-ipsec
Description: IPsec VPN
 The IPsec VPN application

Package: untangle-node-directory-connector
Architecture: all
Section: non-free/net
Depends: untangle-vm, untangle-node-license, libfreeradius-client-dev, freeradius-common, untangle-google-connector, xvfb
Conflicts: libradius1, radiusclient1, untangle-node-adconnector
Replaces: untangle-node-adconnector
Provides: untangle-node-adconnector
Description: The Untangle Directory Connector
 The Untangle Directory Connector.

Package: untangle-node-configuration-backup
Architecture: all
Section: non-free
Depends: untangle-vm, curl, untangle-node-license
Conflicts: untangle-node-boxbackup
Replaces: untangle-node-boxbackup
Provides: untangle-node-boxbackup
Description: Configuration Backup
 The Configuration Backup application.

Package: untangle-node-branding-manager
Architecture: all
Section: non-free
Depends: untangle-vm, untangle-node-license, netpbm
Conflicts: untangle-node-branding
Replaces: untangle-node-branding
Provides: untangle-node-branding
Description: The Untangle Branding Manager
 The Untangle Branding Manager application.

Package: untangle-node-bandwidth-control
Architecture: all
Section: non-free
Depends: untangle-vm, untangle-node-license, gawk
Conflicts: untangle-node-bandwidth
Replaces: untangle-node-bandwidth
Provides: untangle-node-banwidth
Description: Bandwidth Control
 The Bandwidth Control application.

Package: untangle-node-application-control
Architecture: all
Section: non-free
Depends: untangle-vm, untangle-node-license, untangle-classd
Conflicts: untangle-node-classd
Replaces: untangle-node-classd
Provides: untangle-node-classd
Description: Application Control
 The Application Control application

Package: untangle-node-web-filter
Architecture: all
Section: non-free
Depends: untangle-vm, untangle-casing-http, untangle-base-web-filter, untangle-node-license
Conflicts: untangle-node-sitefilter
Replaces: untangle-node-sitefilter
Provides: untangle-node-sitefilter
Description: Web Filter
 The Web Filter application.

Package: untangle-node-web-monitor
Architecture: all
Depends: untangle-vm, untangle-casing-http, untangle-base-web-filter
Description: Web Monitor
 The Web Monitor application.

Package: untangle-node-virus-blocker-lite
Architecture: all
Conflicts: untangle-node-clam
Replaces: untangle-node-clam
Provides: untangle-node-clam
Depends: untangle-vm, untangle-base-virus-blocker, untangle-clamav-config, untangle-casing-http, untangle-casing-ftp, untangle-casing-smtp
Description: Virus Blocker Lite
 The Virus Blocker Lite application.

Package: untangle-node-application-control-lite
Architecture: all
Conflicts: untangle-node-protofilter
Replaces: untangle-node-protofilter
Provides: untangle-node-protofilter
Depends: untangle-vm
Description: Application Control Lite
 The Application Control Lite application.

Package: untangle-node-router
Architecture: all
Depends: untangle-vm, dnsmasq, untangle-casing-ftp
Description: Router
 The Router application.

Package: untangle-node-firewall
Architecture: all
Depends: untangle-vm
Description: Firewall
 The Firewall application.

Package: untangle-node-spam-blocker-lite
Architecture: all
Conflicts: untangle-node-spamassassin
Replaces: untangle-node-spamassassin
Provides: untangle-node-spamassassin
Depends: untangle-vm, untangle-base-spam-blocker, untangle-casing-smtp, untangle-spamassassin-update
Description: Spam Blocker Lite
 The Spam Blocker Lite application.

Package: untangle-node-phish-blocker
Architecture: all
Conflicts: untangle-node-phish
Replaces: untangle-node-phish
Provides: untangle-node-phish
Depends: untangle-vm, untangle-base-spam-blocker, untangle-clamav-config, untangle-casing-smtp
Description: Phish Blocker
 The Phish Blocker application.

Package: untangle-node-openvpn
Architecture: all
Depends: untangle-vm, untangle-nsis-addons, openssl, openvpn
Description: OpenVPN
 The OpenVPN application.

Package: untangle-node-intrusion-prevention
Architecture: all
Conflicts: untangle-node-idps, untangle-node-ips
Replaces: untangle-node-idps, untangle-node-ips
Provides: untangle-node-idps, untangle-node-ips
Depends: untangle-vm, untangle-snort-config, snort (>= 2.9.8.2), libdaq0 (>= 2.0.6)
Description: Intrusion Prevention
 The Intrusion Prevention application.

Package: untangle-node-reports
Architecture: all
Conflicts: untangle-node-reporting
Replaces: untangle-node-reporting
Provides: untangle-node-reporting
Depends: untangle-vm, untangle-database-config
Description: Reports
 The Reports application.

Package: untangle-node-ad-blocker
Architecture: all
Conflicts: untangle-node-adblocker
Replaces: untangle-node-adblocker
Provides: untangle-node-adblocker
Depends: untangle-vm, untangle-casing-http
Description: Ad Blocker
 The Ad Blocker application.

Package: untangle-node-captive-portal
Architecture: all
Conflicts: untangle-node-capture
Replaces: untangle-node-capture
Provides: untangle-node-capture
Depends: untangle-vm, untangle-casing-http
Description: Captive Portal
 The Captive Portal application.

Package: untangle-base-virus-blocker
Conflicts: untangle-base-virus
Replaces: untangle-base-virus
Provides: untangle-base-virus
Architecture: all
Depends: untangle-vm, untangle-casing-http, untangle-casing-smtp
Description: Virus Blocker Base
 The Virus Blocker Base.

Package: untangle-base-spam-blocker
Conflicts: untangle-base-spam
Replaces: untangle-base-spam
Provides: untangle-base-spam
Architecture: all
Depends: untangle-vm, untangle-casing-smtp
Description: Spam Blocker Base
 The Spam Blocker Base.

Package: untangle-base-web-filter
Architecture: all
Conflicts: untangle-base-webfilter, untangle-node-web-filter (<= 12.2.0~vcs2016~)
Replaces: untangle-base-webfilter
Provides: untangle-base-webfilter
Depends: untangle-vm, untangle-casing-http
Description: WebFilter Base
 The WebFilter Base.

Package: untangle-libuvmthirdparty
Architecture: all
Description: Platform Thirdparty Libraries
 The Platform Thirdparty Libraries.

Package: untangle-vm
Architecture: all
Conflicts: untangle-libnetfilter-queue-dev, untangle-libnetfilter-queue0
Depends: untangle-development-runtime (> 13.0.0)
Description: Platform
 The Platform.

Package: untangle-libuvm
Architecture: all
Description: Platform Libraries
 The Platform Libraries.
