#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997, 2006 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.

PACKAGES := $(shell dh_listpackages)
UVM_DESTDIR := $(CURDIR)/debian/untangle-vm

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	@dh_testdir
	@touch configure-stamp

build-arch: configure-stamp  build-arch-stamp
build-arch-stamp:
	@dh_testdir

# FIXME: only one of the 2 build- is needed
#	rake build

# FIXME: what's that ?
	rm -f ./debian/tmp/stamp*

	@touch build-arch-stamp

build-indep:  configure-stamp build-indep-stamp
build-indep-stamp:
	@dh_testdir

	@touch build-indep-stamp

build: build-arch build-indep

clean:
	@dh_testdir
	@dh_testroot
	@rm -f build-arch-stamp build-indep-stamp configure-stamp
#	@rm -f ./debian/*.init
	@dh_clean
	rake clean

# FIXME: they look about the same to me...
# distclean is too agressive to run in developer trees, so only run
# for 'make release'
distclean:
	@dh_testdir
	@dh_testroot
	@rm -f build-arch-stamp build-indep-stamp configure-stamp
#	@rm -f ./debian/*.init
	@dh_clean

install: build
	@dh_testdir
	@dh_testroot
	@dh_installdirs -a
	rake install
	rm -f debian/untangle-vm/usr/share/untangle/log
	#ln -sf /var/log/uvm debian/untangle-vm/usr/share/untangle/log
	#find debian/untangle-libuvm/usr/share/untangle -type f -print0 | xargs -0 chmod 644

binary-arch: install
	@dh_testdir
	@dh_testroot
#	@dh_movefiles
#	@dh_installdebconf
	@dh_shlibdeps
	@dh_installdocs -n
#	@dh_installexamples
#	@dh_installmenu
	@dh_installlogrotate
#	@dh_installemacsen
#	@dh_installpam
#	@dh_installmime
	@dh_installinit -n
#	@dh_installcron
#	@dh_installman
#	@dh_installinfo
#	@dh_undocumented
	@dh_installchangelogs
	@dh_strip
#	@dh_link
	@dh_compress
#	@dh_fixperms
#	@dh_lintian
	@dh_installdeb
#	@dh_perl
	@for i in $(PACKAGES) ; do \
	if [ -f debian/version ] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi \
	done
	@find debian/untangle-libuvmthirdparty -name '*.jar' | xargs chmod 644
	@dh_md5sums
	@dh_builddeb --destdir=../ 2>&1 | egrep -v "(user-defined|ignoring)"
	@dh_md5sums
	@dh_builddeb -p untangle-vm --destdir=../ 2>&1 | egrep -v "(user-defined|ignoring)"

binary-indep: install
# nothing to do

binary: binary-indep binary-arch
.PHONY: build clean distclean binary-indep binary install configure
