[Unit]
Description=Untangle PyConnector

[Service]
Type=Simple
#ExecStart=/usr/share/untangle/bin/ut-pyconnector -d 2
ExecStart=/usr/share/untangle/bin/ut-pyconnector -d 1
Restart=always

[Install]
WantedBy=multi-user.target
