## ######################################################################
## Copyright (c) 2003-2007 Untangle, Inc.
## All rights reserved.
##
## This software is the confidential and proprietary information of
## Untangle, Inc. ("Confidential Information"). You shall
## not disclose such Confidential Information.
##
## $Id$
## ######################################################################
##
## =======================================================================
## Please read the docs on the corresponding HTML file (same directory)
## for an explanaiton of that this junk is (Velocity)
## =======================================================================
##
##
##
##
##
##

This email is a summary of the email quarantine for &quot;$user_email&quot;.  You currently
have $totalNumRecords $totalSizeRecords emails quarantined.  To review emails to release or delete,
please visit your inbox at $linkgenerator.generateInboxLink()

