.logoTable {
  padding-left: 15; 
  padding-top: 15;
}

table.intro {
  padding-left: 10;
  padding-top: 15;
}

table.introUserInfo {
  padding-left: 10;
  text-align: right;
}

.infotext {
  color: #372F2F;
  padding-left: 10;
  padding-right: 20;
  padding-top: 20;
  padding-bottom: 10;
}

table.actions {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  color: #FFFFFF
}

table.actions tbody TD {
  background-color: #C1C1C1;  
  padding: 15;
}

table.actions tbody TD + TD {
  background-color: #C1C1C1;  
  text-align: right;
  padding-right: 10;
}

.tableFooter {
  text-align: right;
  padding-right: 10;
}

.msiehack1 {
  background-color: #C1C1C1;  
  text-align: right;
  color: #606060;
  padding-right: 10;
}
.msiehack2 {
  background-color: #C1C1C1;  
  text-align: left;
  color: #606060;
  padding-left: 10;
}

.errortext {
  font: normal 20 Arial, Geneva;
  color: #FF0000;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

/* #68BD49 is Untangle green */
.messageText {
  font: normal 20 Arial, Geneva;
  color: #68BD49;
  padding-left: 10;
  padding-right: 10;
  padding-bottom: 10;
}

table.slist {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

table.slist th {
  border-bottom: 1px solid #666;
  text-align: left;
  text-node: uppercase;
  padding: 0.6em;
  vertical-align: 4px;
}

table.slist td {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.6em;
  vertical-align: 4px;
}

table.slist thead th {
  background-color: #C1C1C1;  
}

table.slist tbody th {
  padding-left: 24px;
}

table.slist tfoot th, table.slist tfoot td {
  background-color: #C1C1C1;  
}

table.inbox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

table.inbox th, table.inbox td {
  border-bottom: 1px solid #666;
  padding: 0.6em;
  vertical-align: 4px;
}

table.inbox th {
  text-align: left;
  text-node: uppercase;
}

table.inbox thead th.first {
  background-color: #ddd;
  padding-left: 24px;
}

table.inbox tbody td.first {
  text-align: left;
  padding-left: 20;
}

table.inbox thead th {
  background-color: #ddd;
}

table.inbox tbody th {
  padding-left: 24px;
}

table.inbox tr.even td, table.inbox tr.even th {
  background-color: #eee;
}

table.inbox tr.odd td, table.inbox tr.odd th {
  background-color: #ddd;
}

table.inbox tfoot th, table.inbox tfoot td {
  background-color: #C1C1C1;  
}

table.inbox tfoot th {
  background-color: #C1C1C1;  
  text-align: right;
}

/* MSIE ignores this style */
table.inbox tfoot th:after {
  content: ":";
}

.enteremail {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 20;
  background: #C1C1C1;
}

.msiehack3 {
  padding: 20;
}

.smallLogo {
  font: normal 12 Arial, Helvetica, Sans-Serif;
  text-align: center;
  padding-top: 30;
  padding-bottom: 30;
  height: 100%;
  vertical-align: bottom;
}
body {
	margin: 0;
	padding: 20px;
	background: #fff url(../images/background_body.gif) repeat-x top left;
	text-align: center;
}
table, div, span {
    font: 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}
input {
    font: 10pt/14pt Arial,Sans-Serif;
    text-align: left;
    color: #606060;
}
form {
    margin: 0;
}
a:link, a:visited {
    font: 10pt/14pt Arial,Sans-Serif;
    color: #1997FE;
    text-decoration: none;
}
a:hover {
    color: #1997FE;
    text-decoration: underline;
}
h1 {
    font: normal 11pt Arial,Sans-Serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h2 {
    font: normal 10pt Arial,Sans-Serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h3 {
    font: normal 11pt Arial,Sans-Serif;
    color: #606060;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h4 {
    font: normal 14pt Arial,Sans-Serif;
    color: #0044D7;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
img {
	border: 0;
}
hr {
	height: 1px;
	color: #969696;
	background-color: #969696;
	margin: 0; padding: 0;
}
.main-top-left, .main-top-right, .main-bot-left, .main-bot-right {
    background-image: url(../images/bg_main_top_bot.gif);
    height: 23px;
}
.main-top-left, .main-bot-left {
    margin-right: 23px;
}
.main-top-right, .main-bot-right {
    margin: -23px 0 0 23px;
}
.main-bot-left    {
    background-position: 0 -23px;
}
.main-bot-right {
    background-position: 100% -23px;
}
.main-mid {
    margin: 0 23px;
    padding: 0 2px;
	text-align: left;
    background: #fff url(../images/bg_main_mid.gif);
}
.main-mid-left, .main-mid-right {
    background: url(../images/bg_main_left_right.gif) 0 0 repeat-y;
}
.main-top-right, .main-mid-right {
    background-position: 100% 0;
}
.page_head {
	height: 110px;
	overflow: hidden;
}
.page_head a {
	float: left;
	clear: none;
}
.page_head div {
	float: left;
	clear: none;
	vertical-align: middle;
    font: bold 25pt Arial,Sans-Serif;
    color: #777;
	line-height: 100px;
	margin-left: 14px;
}
.page_sub_title {
    font: bold 17pt Arial,Sans-Serif;
    color: #777;
}
.page_sub_text {
    font: bold 14pt Arial,Sans-Serif;
    color: #777;
}

/* Old style */
#table_main_center {
    background: url(../images/background_table_main_center.gif) repeat;
}

#table_main_top {
    background: url(../images/background_table_main_top.gif) repeat-x;
}

#table_main_top_left {
    background: url(../images/rounded_corner_main_top_left.gif) no-repeat;
}

#table_main_top_right {
    background: url(../images/rounded_corner_main_top_right.gif) no-repeat;
}

#table_main_right {
    background: url(../images/background_table_main_right.gif) repeat-y;
}

#table_main_bottom {
    background: url(../images/background_table_main_bottom.gif) repeat-x;
}

#table_main_bottom_left {
    background: url(../images/rounded_corner_main_bottom_left.gif) no-repeat;
}

#table_main_bottom_right {
    background: url(../images/rounded_corner_main_bottom_right.gif) no-repeat;
}

#table_main_left {
    background: url(../images/background_table_main_left.gif) repeat-y;
}

