#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

package=libmvutil

version=$(shell expr `pwd` : '.*-\([0-9.]*\)')
version_major=$(shell expr `pwd` : '.*-\([0-9]*\).[0-9.]*')

build:
	dh_testdir
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	-rm -rf debian/tmp `find debian/* -type d ! -name CVS` core
	-rm -f debian/libmvutil0.postinst.debhelper debian/libmvutil0.prerm.debhelper
	-rm -f debian/*substvars
	dh_clean

binary-indep: build

binary-arch: build
	dh_testroot
	install -d debian/tmp

	$(MAKE) install DESTDIR=`pwd`/debian/tmp

	dh_movefiles
	dh_installdocs
	dh_installman

	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
