#contentleft {
	padding-top:25px;
	background:transparent url(../images/admin/background_left.png)  no-repeat !important;
	text-align:center;
	height:100%;
}
#contentright {
	height:100%;
}
div.centerRegion {
	background: transparent url(../images/admin/background_right.png) repeat !important;
}
#racks {
	position:relative;
	margin:auto;
	background: transparent url(../images/admin/background_empty_rack.png) repeat-y;
	width:789px;
	height:100%;
}
div.racksWithSeparator {
	background:scroll 0px 100px;
}
div.racksWithoutSeparator {
	background:scroll 0px 50px;
}
#logo {
	position:relative;
	margin-bottom: 15px;
}
#leftHorizontalRuler {
	position:relative;
	background: transparent url(../images/admin/background_left_hruler.png) no-repeat center center;
	width: 200px;
	height: 1px;
	left: 10px;
	margin-bottom: 15px;
}
#leftTabs {
	position:relative;
	width:201px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
}
#help {
	position:relative;
	width:60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
#rack_list {
	position:relative;
	background:transparent url(../images/admin/background_rack_list.png) no-repeat;
	width:789px;
	height:50px;
}
#rack_nodes {
	position:relative;
	width:789px;
}
div.node {
	position:relative;
	background: transparent url(../images/admin/background_node.png) no-repeat;
	width:789px;
	height:119px;
}
#rack_select {
	position:relative;
	top:12px;
	left:90px;
	background-color:#AFAFAF;
	font-family: verdana, sans-serif;
	font-size:18px;
	color: #7C7B7B;
}
#nodes_separator_text {
	position:relative;
	left: 90px;
	top: 12px;
	width: 300px;
	font-family: verdana, sans-serif;
	font-size:19px;
	color: #7C7B7B;
}
#nodes_separator {
	position:relative;
	background: transparent url(../images/admin/background_separator.png) no-repeat;
	width:789px;
	height:50px;
}
.nodeImage {
	position:absolute;
	top:12px;
	left:50px;
}
div.node div.nodeLabel {
	position: absolute;
	top: 17px;
	left: 100px;
	height: 55px;
	width: 230px;
	font-family: verdana, sans-serif;
	font-size: 18px;
	color: #4E4C4C;
}
div.node div.nodeTrialDays {
	position: absolute;
	top: 47px;
	left: 105px;
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: green;
}
div.node div.nodeTrial {
	position: absolute;
	top: 45px;
	right: 475px;
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: green;
}

button.iconHelp {
	background:transparent url(../images/admin/icon_help.png) no-repeat center left !important; 
}
div.iconHelp {
	background:transparent url(../images/admin/icon_help.png) no-repeat !important;
	height:15px;
	width:15px;
}
div.node div.nodeState {
	z-index: 200;
	position:absolute;
	top:54px;
	right:54px;
	height:33px;
	width: 33px
}
div.iconStateOn {
	background:transparent url(../images/admin/icon_state_on.png) no-repeat center !important; 
}
div.iconStateOff {
	background:transparent url(../images/admin/icon_state_off.png) no-repeat center !important; 
}
div.iconStateAttention {
	background:transparent url(../images/admin/icon_state_attention.png) no-repeat center !important; 
}
div.iconStateError {
	background:transparent url(../images/admin/icon_state_error.png) no-repeat center !important; 
}
div.node div.nodePower {
	position:absolute;
	top:20px;
	right:54px;
	height:33px;
	width: 33px;
    background:transparent url(../images/admin/icon_power.png) no-repeat center !important; 
}
div.node div.nodeSettingsButton {
	position:absolute;
	top:76px;
	left:50px;
}
div.node div.nodeHelpButton {
	position:absolute;
	top:76px;
	left:182px;
	width:120px;
}
button.nodeSettingsIcon {
	background:transparent url(../images/admin/icon_settings.png) no-repeat center left !important;  
}
div.windowBackground {
	background: transparent url(../images/admin/background_grey.png) repeat;
}
button.nodeRemoveIcon {
	background:transparent url(../images/admin/icon_remove.png) no-repeat center left !important; 
}
button.cancelIcon {
	background:transparent url(../images/admin/icon_cancel.png) no-repeat center left !important; 
}
button.saveIcon {
	background:transparent url(../images/admin/icon_save.png) no-repeat center left !important; 
}
div.windowContent {
	position:relative;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom: 0px;

}
div.nodeBlingers {
	position:absolute;
	bottom: 16px;
	right: 100px;
	width: 355px;
	height: 87px;
}
div.blingerText {
	font-family: "Arial", sans-serif;
	font-size: 9px;
	color: #000000;
}
div.blingerName {
	position:absolute;
	top:1px;
	right:10px;
	font-family: "times", sans-serif;
	font-size: 11px;
	color: #3F3F3F;
}
div.activityBlinger {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 118px;
	height: 82px;
	background: transparent url(../images/admin/background_activity_blinger_border.png) no-repeat scroll 0px 7px !important;
}

div.activityBlingerBox {
	position: relative;
	top: 15px;
	left: 9px;
	height:60px;
	width:100px;
	background: transparent url(../images/admin/background_activity_blinger.png) no-repeat !important;
}
div.activityBlingerText {
	position:absolute;
	right:3px;
	text-align: right;
	color: #FFFFFF;
	z-index: 15;
}
div.activityBlingerBar {
	position: absolute;
	background: transparent url(../images/admin/background_activity_blinger_bar.png) repeat-x;
	left:0px;
	height:10px;
	z-index: 14;
}
div.systemBlinger {
	position:absolute;
	top: 0px;
	right: 0px;
	width: 219px;
	height: 87px;
	background: transparent url(../images/admin/background_system_blinger_border.png) no-repeat scroll 0px 7px !important;
}
div.systemBlingerBox {
	position: relative;
	top:15px;
	left:5px;
	width: 209px;
	height:60px;
}
div.systemBlingerLabel {
	position:absolute;
	left:0px;
	text-align: left;
	color: #3F3F3F;
	width: 125px;
	overflow: hidden;
	white-space : nowrap;
}
div.systemBlingerValue {
	position:absolute;
	right:0px;
	text-align: right;
	color: #FFFFFF;
	font-size: 10px;
	padding-right:4px;
	width: 100px;
	height: 14px;
	background: transparent url(../images/admin/background_system_blinger_value.png) no-repeat right !important;
}
div.systemBlingerSettings {
	position: absolute;
	right: 10px;
	bottom: 0px;
	width: 11px;
	height: 11px;
	background: transparent url(../images/admin/icon_system_blinger_settings.png) no-repeat !important;
}
div.pixel {
	position:absolute;
	width:1px;
	height:1px;
}
div.toolboxButton {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
div.ungButton {
	cursor: pointer;
	background-color: #E9E9E9;
	border: 1px solid #9B9B9B;
}
div.ungButtonHover {
	border-color:#366dba;
	color:#366dba;
	background-color:#f1f6fc;
}
div.ungButtonInvalid {
	border: 1px solid green;
}
button.iconAddRow {
    background: transparent url(../images/admin/icon_add_row.gif) no-repeat center left !important;
}
div.iconEditRow {
	background:transparent url(../images/admin/icon_edit_row.gif) no-repeat center center;
	width: 100%;
	cursor: pointer;
}
div.iconDeleteRow {
	background:transparent url(../images/admin/icon_delete_row.gif) no-repeat center center;
	width: 100%;
	cursor: pointer;
}
button.iconRefresh {
    background: transparent url(../images/admin/icon_refresh.png) no-repeat center left !important;
}

div.buttonsLeftPos {
	position:absolute;
	left:10px;
	bottom:10px;
}
div.buttonsRightPos {
	position: absolute;
	right: 10px;
	bottom: 10px;
	white-space: nowrap;
}
.grid-row-deleted {
	background-color: #FF5151;
}
.grid-row-added {
	background-color: #21FF3A;
}
.grid-row-modified {
	background-color: #FFB364;
}

div.iconConfigNetwork {
	background: transparent url(../images/admin/config/icon_config_network.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigAdmin {
	background: transparent url(../images/admin/config/icon_config_admin.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigEmail {
	background: transparent url(../images/admin/config/icon_config_email.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigDirectory {
	background: transparent url(../images/admin/config/icon_config_directory.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigBackup {
	background: transparent url(../images/admin/config/icon_config_backup.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigSupport {
	background: transparent url(../images/admin/config/icon_config_support.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigUpgrade {
	background: transparent url(../images/admin/config/icon_config_upgrade.png) no-repeat !important; 
	width:36px;
	height:36px;
}
div.iconConfigSetup {
	background: transparent url(../images/admin/config/icon_config_setup.png) no-repeat !important; 
	width:36px;
	height:36px;
}
thead tr.x-grid3-hd-row {
	text-align: center;
}

div.appItem {
    cursor: pointer;
	position: relative;
	background: transparent url(../images/admin/background_app_item.png) no-repeat !important;
	width: 177px;
	height: 53px;
	margin-bottom: 2px;
}
div.appItem div.icon {
	position: absolute;
	top: 5px;
	left: 5px;
}
div.appItem div.text {
	position: absolute;
	top: 5px;
	left: 53px;
	width: 123px;
	height: 35px;
	text-align: left;
	color:#4E4C4C;
	font-size: 12px;
	font-weight: bold;
}
div.appItem div.action {
    position: absolute;
    right: 5px;

    top: 34px;
    height: 15px;
    font-family: verdana, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: green;
    padding-right: 16px;
}
div.appItem div.buttonBuy {
	position: absolute;
	left: 53px;
	top: 34px;
	cursor: pointer;
	height: 15px;
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: green;
	padding-right: 16px;
}
div.appItem div.statePos {
	position: absolute;
	left: 52px;
	top: 33px;
	cursor: pointer;
	height: 15px;
	font-family: verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: red;
}
div.iconInfo {
	background:transparent url(../images/admin/icon_info.png) no-repeat center right !important;
}
div.iconArrowRight {
	background:transparent url(../images/admin/icon_arrow_right.png) no-repeat center right !important;
}
div.iconArrowDown {
	background:transparent url(../images/admin/icon_arrow_down.png) no-repeat center right !important;
}

.iconBreadcrumbsSeparator {
    background:transparent url(../images/admin/icon_breadcrumbs_separator.gif) no-repeat center center !important;
    width:13px;
    height:12px;
}

.breadcrumbText {
    font-size:11px; /* On a base font of 13px works out to 11.05px*/
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    line-height:14px; /* works out to 14px */
    font-family:arial,helvetica,"FreeSans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,sans-serif;
}
.breadcrumbLink {
	font-size:11px; /* On a base font of 13px works out to 11.05px*/
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:14px; /* works out to 14px */
	font-family:arial,helvetica,"FreeSans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,sans-serif;
	color: #20377A;
}

.untangle-form-panel
{ 
  padding:5px 5px 0px 5px;
 }
/*Wizard container */
#container{
	margin:10px auto;
	position:relative;
}
.logo-container{
	position:absolute;
	top:10px;
	left:25px;
}
.wizard-steps{
	padding-top:120px;
}
.empty-background{
	background-color:none;
}
.wizard-steps .completed
{ 
  color: #000;  
 }

.wizard-steps .incomplete
{ 
  color: #444;
 }

.wizard-steps .current
{ 
  color: #333;
  font-weight: bold;
 }

.wizard-steps .step
{
  font-size: 12px;
  line-height: 23px; /* works out to 14px */
  margin:3px 0px 3px 25px;
  font-family:arial,helvetica,"FreeSans","Utkal","Nimbus Sans L","Malayalam","Phetsarath OT","Garuda",clean,sans-serif;
  padding:0px 0px 0px 0px;
 }
 .nostep{
		padding:0px 0px 0px 22px;
}
 .current div, .incomplete div, .completed div{
	padding:0px 0px 0px 5px;
 }
 .current div{
	width:200px;
 }
 .incomplete div{
	background-color:#F0F0F0;
 }
 .completed div{
	background-color:#F0F0F0;
 }
.incomplete div div .count{
	background:url(../images/wizard/step-incomplete.jpg) no-repeat left center !important;
	margin:0px 4px 0px 0px;
	color:#444444;
	font-size:11px;
	margin:0px 4px 0px 0px;
	padding:2px 6px 2px 5px;	
}
.current div div .count{
	background: url(../images/wizard/step-current.jpg) no-repeat left center !important;
	margin:0px 4px 0px 0px;
	color:#444444;
	font-size:11px;
	margin:0px 4px 0px 0px;
	padding:2px 6px 2px 5px;	
}
.completed div div .count{
	background: url(../images/wizard/step-completed.jpg) no-repeat left center !important;
	margin:0px 4px 0px 0px;
	color:#FFF;
	font-size:11px;
	margin:0px 4px 0px 0px;
	padding:2px 6px 2px 5px;	
}
.wizard .x-form-item label
{ 
  text-align: right;
 }

