.apps-top {
    display: none;
}

.apps-separator {
    background-color: #CCCDCD;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

.top-title {
    font-size: 16px;
    color: #333;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.top-title * {
    vertical-align: middle;
}


div.apps-apps {
    padding: 10px;
}

/* app background */
div.app {
    cursor: pointer;
    position: relative;
    float: left;
    height: 140px;
    width: 140px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background: #FFF;
    overflow: hidden;
    transition: background .3s cubic-bezier(0.23, 1, 0.32, 1);
}

div.app:hover {
    background: #EEE;
}

div.app-cap {
    cursor: default;
    background-color: #666666;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
}
/* App image container */
.app-image {
    display: block;
    position: relative;
    margin: 20px auto 8px auto;
    width: 80px;
    height: 80px;
}
/* app display name text*/
div.app div.app-label {
    display: block;
    padding: 0 3px;
    text-align: center;
    color: #4E4C4C;
    font-weight: bold;
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
}
/* app trial info text */
div.app div.app-faceplate-info {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    line-height: 12px;
    text-align: center;
    font-family: 'PT Sans', Tahoma, Geneva, sans-serif;
    font-size: 9px;
    text-shadow: 1px 1px #FFFFFF;
    color: #DE2020;
}
/* app state container */
div.app div.app-state {
    position: absolute;
    right: 24px;
    top: 15px;
    width: 16px;
    height: 16px;
}
/* app power button icon */
div.app .app-power {
    display: none;
}
/* app buttons panel container */
div.app div.app-buttons {
    display: none;
}
/* app metrics */
div.app div.app-metrics {
    display: none;
}

/* rack top system stats container */
div.system-stats {
    display: none;
}

@media ( max-width: 550px ) {
    div.apps-apps {
        padding: 0;
    }
    div.app {
        height: 60px;
        width: 100%;
        float: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0 0 1px 0;
    }
    div.app-image {
        width: 50px;
        height: 50px;
        background-size: contain;
        top: 5px;
        left: 5px;
        float: left;
        margin: 1px;
    }
    div.app-label {
        line-height: 60px;
        margin-left: 10px;
        font-size: 16px;
        text-align: left;
        float: left;
    }

    div.app div.app-state {
        top: 50%;
        margin-top: -8px;
        right: 16px;
    }
}