body {
    font: 10pt Verdana,sans-serif;
    color: navy;
}

.trigger {
    cursor: pointer;
    cursor: hand;
    display: block;
}

.dir {
    display: none;
    margin-left: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
