.shadow {
          position: absolute;
          z-index: 2;
          top: 25%;
          left: 25%;
          width: 256px;
          height: 256px;
          background-color: black;
          }

.dialog { position: relative;
          background-color: white;
          width: 256px;
          height: 256px;
          left: -2px;
          top: -2px;
          }

.dialog-titlebar { background-color: purple;
                   font-weight: bold;
                   padding: 2px;
                   }

.dialog-exit { background-color: pink;
               font-weight: bold;
               padding: 2px;
               width: 15px;
               height: 15px;
               }

#click-blocker { position: absolute;
                 z-index: 1;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 background-color: blue;
                 opacity: .5;
                 filter: alpha(opacity=50);
                 }
