<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!-- the parent application context definition for the webui application -->
    
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/uvm.context.properties</value>
			</list>
		</property>
	</bean>

    <bean id="remoteUvmContextManager" class="com.untangle.uvm.webui.service.impl.RemoteUvmContextManager"
    		destroy-method="destroy">
    	<property name="timeout" value="${uvm.context.timeout}"/>
    	<property name="loginType" value="${uvm.context.loginType}"/> <!-- interactive | system -->
    	
    	<!-- the next properties are needed only for interactive login -->
    	<property name="host" value="${uvm.context.host}"/>
    	<property name="port" value="${uvm.context.port}"/>
    	<property name="username" value="${uvm.context.username}"/>
    	<property name="password" value="${uvm.context.password}"/>
    	<property name="secure" value="${uvm.context.secure}"/>
    	<property name="force" value="${uvm.context.force}"/>
    </bean>

    <bean id="mainRackService" class="com.untangle.uvm.webui.service.impl.MainRackServiceImpl">
    	<property name="remoteUvmContextManager" ref="remoteUvmContextManager"/>
    	
    	<property name="configItems">
	    	<list>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="networking"/>
	    			<property name="displayName" value="Networking"/>
	    			<property name="viewPosition" value="1"/>
	    			<property name="image" value="images/tools/config/IconConfigNetwork36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="remoteAdmin"/>
	    			<property name="displayName" value="Remote Admin"/>
	    			<property name="viewPosition" value="2"/>
	    			<property name="image" value="images/tools/config/IconConfigAdmin36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="email"/>
	    			<property name="displayName" value="Email"/>
	    			<property name="viewPosition" value="3"/>
	    			<property name="image" value="images/tools/config/IconConfigEmail36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="userDirectory"/>
	    			<property name="displayName" value="User Directory"/>
	    			<property name="viewPosition" value="4"/>
	    			<property name="image" value="images/tools/config/IconConfigDirectory36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="backupRestore"/>
	    			<property name="displayName" value="Backup/Restore"/>
	    			<property name="viewPosition" value="5"/>
	    			<property name="image" value="images/tools/config/IconConfigBackup36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="support"/>
	    			<property name="displayName" value="Support"/>
	    			<property name="viewPosition" value="6"/>
	    			<property name="image" value="images/tools/config/IconConfigSupport36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="upgrade"/>
	    			<property name="displayName" value="Upgrade"/>
	    			<property name="viewPosition" value="7"/>
	    			<property name="image" value="images/tools/config/IconConfigUpgrade36x36.png"/>
	    		</bean>
	    		<bean class="com.untangle.uvm.webui.domain.ConfigItem">
	    			<property name="name" value="setupInfo"/>
	    			<property name="displayName" value="Setup Info"/>
	    			<property name="viewPosition" value="8"/>
	    			<property name="image" value="images/tools/config/IconConfigSetup36x36.png"/>
	    		</bean>
	    	</list>
    	</property>
    </bean>
    
</beans>