<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

  <servlet>
    <servlet-name>StartPageServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.servlet.StartPageServlet</servlet-class>
    <init-param>
      <param-name>buildStamp</param-name>
      <param-value>@BUILD_STAMP@</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>StartPageServlet</servlet-name>
    <url-pattern>/startPage.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetupSettingsServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.servlet.SetupSettingsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SetupSettingsServlet</servlet-name>
    <url-pattern>/setupSettings.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.jabsorb.UtJsonRpcServlet</servlet-class>
    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.untangle.uvm.servlet.ImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.servlet.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BackupServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.servlet.BackupServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>I18NServlet</servlet-name>
    <servlet-class>com.untangle.uvm.webui.servlet.I18NServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>I18NServlet</servlet-name>
    <url-pattern>/i18n</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BackupServlet</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>

</web-app>
