body {
	margin: 0;
	padding: 20px;
	background: #fff url(/images/background_body.gif) repeat-x top left;
	text-align: center;
}
table, div, span {
    font: 10pt/14pt arial,sans-serif;
    text-align: left;
    color: #606060;
}
input {
    font: 10pt/14pt arial,sans-serif;
    text-align: left;
    color: #606060;
}
form {
    margin: 0;
}
a:link, a:visited {
    font: 10pt/14pt arial,sans-serif;
    color: #1997FE;
    text-decoration: none;
}
a:hover {
    color: #1997FE;
    text-decoration: underline;
}
h1 {
    font: normal 11pt arial,sans-serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h2 {
    font: normal 10pt arial,sans-serif;
    color: #999;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h3 {
    font: normal 11pt arial,sans-serif;
    color: #606060;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
h4 {
    font: normal 14pt arial,sans-serif;
    color: #0044D7;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
img {
	border: 0;
}
hr {
	height: 1px;
	color: #969696;
	background-color: #969696;
	margin: 0; padding: 0;
	clear: both;
}
p {
	margin-bottom: 4px;
}
.main-top-left, .main-top-right, .main-bot-left, .main-bot-right {
    background-image: url(/images/bg_main_top_bot.gif);
    height: 23px;
}
.main-top-left, .main-bot-left {
    margin-right: 23px;
}
.main-top-right, .main-bot-right {
    margin: -23px 0 0 23px;
}
.main-bot-left    {
    background-position: 0 -23px;
}
.main-bot-right {
    background-position: 100% -23px;
}
.main-mid {
    margin: 0 23px;
    padding: 0 2px;
	text-align: left;
    background: #fff url(/images/bg_main_mid.gif);
	overflow: hidden;
}
.main-mid-left, .main-mid-right {
    background: url(/images/bg_main_left_right.gif) 0 0 repeat-y;
}
.main-top-right, .main-mid-right {
    background-position: 100% 0;
}
.main-reduced {
	width: 500px; 
	margin: 50px auto 0 auto;
}
.main-reduced a b {
	line-height: 30px;
}
.page_head {
	height: 110px;
}
.page_head a {
	float: left;
	clear: none;
}
.page_head div {
	float: left;
	clear: right;
	vertical-align: middle;
	font: bold 25pt arial,sans-serif;
	color: #777;
	padding: 30px 0;
	margin-left: 14px;
}
.page_sub_title {
    font: bold 17pt arial,sans-serif;
    color: #777;
}
.page_sub_text {
    font: bold 14pt arial,sans-serif;
    color: #777;
}
.java-download {
	text-align: right;
	font-style: italic;
	font-size: 12px;
	margin-top: 30px;
	
}
