<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app version="2.4">
  <display-name>Virus WebApp</display-name>

  <servlet>
    <servlet-name>BlockPageServlet</servlet-name>
    <servlet-class>com.untangle.node.virus.BlockPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>

  <servlet-mapping>
    <servlet-name>BlockPageServlet</servlet-name>
    <url-pattern>/blockpage</url-pattern>
  </servlet-mapping>
</web-app>
