[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C                      = US
ST                     = California
L                      = San Mateo
O                      = Untangle
OU                     = Customer Site
CN                     = Self signed certificate
