<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  @JSP_PRE_COMPILED_SERVLETS@

  <display-name>Active Directory Lookup Server Installer</display-name>

  <description>
    Active Directory Lookup Server Installer
  </description>

  <!-- Downloader -->
  <servlet>
    <servlet-name>Downloader</servlet-name>
    <servlet-class>com.untangle.mvvm.user.Downloader</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Downloader</servlet-name>
    <url-pattern>/setup.exe</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.untangle.mvvm.user.servlet.Index_jsp</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>user</role-name>
  </security-role>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Edgeguard Administrator</realm-name>
  </login-config>

  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
